node_modules
dist
.tmp
.sass-cache
.idea/**
.project
openhim-webapp-2.sublime-project
openhim-webapp-2.sublime-workspace
packaging/.gnupg
packaging/.npm
packaging/builds/*
packaging/.gitconfig
packaging/Vagrantfile
\#*
*~
.#*
\#*\#
**/.vagrant
npm-debug.log
.vscode
