body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.css-o7ksgj-MuiSvgIcon-root-MuiStepIcon-root.Mui-active {
    color: #29AC96 !important;
}
.css-o7ksgj-MuiSvgIcon-root-MuiStepIcon-root.Mui-completed {
    color: #29AC96 !important;
}

.css-162bfl7-MuiButtonBase-root-MuiCheckbox-root.Mui-checked {
  color: #29AC96 !important;
}

.css-u7mw59-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #29AC96 !important;
}

.css-1xxaacs-MuiButtonBase-root-MuiButton-root {
    border: 1px solid #29AC96 !important;
}

.css-1xxaacs-MuiButtonBase-root-MuiButton-root:hover {
    border: 1px solid #29AC96 !important;
}

.css-17ahk7h-MuiStepIcon-text {
  fill: #fff;
  font-size: 1.1rem !important;
}
