.css-ob9m3q-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #049d84 !important;
}

.css-1yltleu-MuiTabs-indicator {
  background-color: #049d84 !important;
}

.selected {
  box-shadow: inset 0px 0px 1.5px rgba(0, 0, 0, 0.8);
}
