<!-- Route Alerts -->
<div uib-alert ng-if="!routeAddEdit" ng-repeat="alert in alerts.route" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
<!-- Route Alerts -->

<p class="text-muted">
  Add routes to this channel. Any requests that match this channel will be forwarded to each route in the channel. One route can be marked as a primary route. The response from the primary route will be the one that is returned to the request sender.
</p>

<div ng-if="routeAddEdit" class="addEditRoutes">
  <h3>Set Route</h3>

  <div class="form-group-2columns">
    <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngErrorRoute.name }">
      <label><span style="color: #a94442;">*</span> Route Name</label>
      <input ng-model="newRoute.name" class="form-control" placeholder="Descriptive Route Name" type="text" />
      <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;">
      <div style="float: left;">
        <label>Primary Route</label><br />
        <div class="btn-group" style="clear: both;">
          <label class="btn btn-primary" ng-model="newRoute.primary" uib-btn-radio="true">Yes</label>
          <label class="btn btn-primary" ng-model="newRoute.primary" uib-btn-radio="false">No</label>
        </div>
      </div>
      <div style="float: left; margin-left: 20px;">
        <label>Status</label><br />
        <div class="btn-group" style="clear: both;">
          <label class="btn btn-primary" ng-model="newRoute.status" uib-btn-radio="'enabled'">Enabled</label>
          <label ng-click="onRouteDisable(newRoute)" class="btn btn-primary" ng-model="newRoute.status" uib-btn-radio="'disabled'">Disabled</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group" style="display: inline-block; width: 100%">
    <div class="form-group" style="float: left;">
      <label>Route Type</label><br />
      <div class="btn-group" style="clear: both;">
        <label class="btn btn-primary" ng-model="newRoute.type" uib-btn-radio="'http'">HTTP</label>
        <label class="btn btn-primary" ng-model="newRoute.type" uib-btn-radio="'tcp'">TCP</label>
        <label class="btn btn-primary" ng-model="newRoute.type" uib-btn-radio="'mllp'">MLLP</label>
      </div>
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;">
      <label>Route Secured</label><br />
      <div class="btn-group" style="clear: both;">
        <label class="btn btn-primary" ng-model="newRoute.secured" uib-btn-radio="true">Yes</label>
        <label class="btn btn-primary" ng-model="newRoute.secured" uib-btn-radio="false">No</label>
      </div>
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;" ng-if="newRoute.secured==true">
      <label>Host certificate authority</label><br />
      <select class="form-control" style="width: auto;" ng-model="newRoute.cert" ng-options="cert._id as cert.commonName for cert in trustedCerts">
        <option value="">Use default CAs</option>
      </select>
    </div>
  </div>
  <div class="form-group-2columns">
    <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngErrorRoute.host }">
      <label><span style="color: #a94442;">*</span> Host</label>
      <input ng-model="newRoute.host" class="form-control" placeholder="Route Host" type="text" />
      <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;" ng-class="{ 'has-error' : ngErrorRoute.port }">
      <label><span style="color: #a94442;">*</span> Port</label><br />
      <input ng-model="newRoute.port" class="form-control" placeholder="Route Port" type="text" />
      <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{ngErrorRoute.portError}}</div>
    </div>
  </div>
  <div class="form-group-2columns" ng-class="{ 'has-error' : ngErrorRoute.pathTransform }">
    <div class="form-group" style="float: left;">
      <label><span style="color: #a94442;">**</span> Route Path</label>
      <input ng-model="newRoute.path" class="form-control" placeholder="Route Path" type="text" />
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;">
      <label>
        <span style="color: #a94442;">**</span> Route Path Transform
        <i ng-show="uiSettings.showTooltips" uib-tooltip-html="'Transform the route path by using the following substitute expression format:<br /> s/from/to/g'" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
      </label><br />
      <input ng-model="newRoute.pathTransform" class="form-control" placeholder="s/from/to/g " type="text" />
    </div>
    <div class="has-error-msg" style="clear: both; margin-bottom: 5px;"><i class="glyphicon glyphicon-warning-sign"></i>{{ngErrorRoute.pathTransformError}}</div>
  </div>
  <div class="form-group-2columns">
    <div class="form-group" style="float: left;">
      <label>Basic Authentication Username</label>
      <input ng-model="newRoute.username" ng-disabled="newRoute.forwardAuthHeader" class="form-control" placeholder="Basic Authentication Username" type="text" />
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;">
      <label>Basic Authentication Password</label><br />
      <input ng-model="newRoute.password" ng-disabled="newRoute.forwardAuthHeader" class="form-control" placeholder="Basic Authentication Password" type="text" />
    </div>
    <div class="form-group" style="float: left;">
      <label>Forward existing Authorization header</label><br />
      <div class="btn-group" style="clear: both;">
        <label class="btn btn-primary" ng-model="newRoute.forwardAuthHeader" uib-btn-radio="true">Yes</label>
        <label class="btn btn-primary" ng-model="newRoute.forwardAuthHeader" uib-btn-radio="false">No</label>
      </div>
    </div>
  </div>

  <div style="margin-top: 10px;">
    <button type="button" class="btn btn-default" ng-click="cancelRouteAddEdit()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="saveRoute( oldRouteIndex )" style="margin-left: 5px;">Set Route</button>

    <!-- hasErrors Alerts -->
    <div uib-alert style="display: inline-block; margin: 0px 0px 0px 5px; padding: 8px;" ng-repeat="alert in alerts.hasErrorsRoute" ng-class="'alert-' + (alert.type || 'warning')">
      <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
    </div>
    <!-- hasErrors Alerts -->
  </div>
</div>


<div ng-if="!routeAddEdit">
  <table class="table table-striped" ng-if="channel.routes.length > 0">
    <thead>
      <tr style="font-weight: bold">
        <th>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">Name | Status | Primary</div>
          <div style="width: 18%; float: left; display: block; margin-right: 1%;">Type | Secured</div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">Host | Port</div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">Path/Transform</div>
          <div style="width: 8%; float: right; display: block;"></div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="route in channel.routes">

        <td colspan="6">
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">
            <span>{{ route.name }}</span>
            <label ng-if="route.status == 'enabled'" uib-tooltip="Enabled">
              <i class="glyphicon glyphicon-ok-circle" style="color: #3c763d;"></i>
            </label>
            <label ng-if="route.status == 'disabled'" uib-tooltip="Disabled">
              <i class="glyphicon glyphicon-remove-circle" style="color: #f0ad4e;"></i>
            </label>
            <label ng-if="route.primary" uib-tooltip="The primary route is the route from which the http response will be read and returned to the client." class="tooltip-wide">
              <i class="glyphicon glyphicon-star" style="color: #428bca"></i>
            </label>
          </div>
          <div style="width: 18%; float: left; display: block; margin-right: 1%;">
            <span ng-if="route.type=='http'" class="btn-info btn-xs">HTTP</span>
            <span ng-if="route.type=='tcp'" class="btn-warning btn-xs">TCP</span>
            <span ng-if="route.type=='mllp'" class="btn-primary btn-xs">MLLP</span>

            <span ng-if="route.secured==true" class="btn-success btn-xs">Secured</span>
            <span ng-if="route.secured==false" class="btn-danger btn-xs">Unsecured</span>
          </div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">
            <span>{{ route.host }}</span>
            <span>{{ route.port }}</span>
          </div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">
            <span>{{ route.path }}</span>
            <span>{{ route.pathTransform }}</span>
          </div>


          <div style="width: 8%; float: right; display: block;">
            <button class="btn btn-warning btn-xs" ng-click="addEditRoute('edit', route, $index)"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-danger btn-xs" ng-click="removeRoute($index)"><i class="glyphicon glyphicon-remove"></i></button>
          </div>
        </td>

      </tr>
    </tbody>
  </table>

  <button style="float: left; margin-right: 20px;" class="btn btn-primary" ng-click="addEditRoute('new', null, null)">Add New Route</button>
  <select style="float: left; width: auto;" class="form-control" ng-model="selected.mediatorRoute" ng-change="addRouteFromMediator()" ng-options="medRoute as medRoute.fullName for medRoute in mediatorRoutes">
    <option value="">Add Mediator Route</option>
  </select>
</div>
