<p class="text-muted">
  Alerts fire when specific conditions are met. These can be used to detect when excessive amounts of transactions are failing or if failing transactions have been automatically retried for a maximum number of times.
</p>

<div uib-alert ng-show="channel.alerts.length==0" type="warning">There are currently no Alerts added for this Channel</div>
<div ng-show="channel.alerts.length > 0">
  <div id="no-more-tables">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Condition</th>
          <th>Users</th>
          <th>Groups</th>
          <th width="70"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="alert in channel.alerts">
          <td data-title="# {{ $index +1 }}" class="responsiveTransactionIndexCheckbox"><span>{{ $index +1 }}</span></td>
          <td data-title="Condition">
            <a href="" ng-if="(!alert.condition || alert.condition === 'status') && !alert.failureRate" ng-click="editAlert($index, alert)">Status {{alert.status}}</a>
            <a href="" ng-if="(!alert.condition || alert.condition === 'status') && alert.failureRate" ng-click="editAlert($index, alert)">Status {{alert.status}} ({{alert.failureRate}}%)</a>
            <a href="" ng-if="alert.condition === 'auto-retry-max-attempted'" ng-click="editAlert($index, alert)">Maximum Retries Attempted</a>
          </td>
          <td data-title="Users">{{ alert.users.length }}</td>
          <td data-title="Groups">{{ alert.groups.length }}</td>
          <td>
            <button class="btn btn-warning btn-xs" ng-click="editAlert($index, alert)"><i class="glyphicon glyphicon-pencil"></i></button>
            <button class="btn btn-danger btn-xs" ng-click="removeAlert($index)"><i class="glyphicon glyphicon-remove"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<h4>Add a new alert</h4>
<div class="form-group-2columns">
  <div class="form-group" style="float: left;">
    <label>Condition</label>
    <i ng-show="uiSettings.showTooltips" uib-tooltip="The condition for which the alert should trigger" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    <select class="form-control" ng-model="newAlert.condition">
      <option value="status">Matching Status Code</option>
      <option value="auto-retry-max-attempted">Maximum Retries Attempted</option>
    </select>
  </div>
</div>
<div ng-hide="newAlert.condition !== 'status'" class="form-group-2columns">
  <div class="form-group" style="float: left;">
    <label><span>*</span> Status Code</label>
    <i ng-show="uiSettings.showTooltips" uib-tooltip="Match on particular HTTP status code. A range of status codes can be matched by using the format Yxx, where Y is the range (e.g. 5xx means match any transactions that have a status code in the 500-599 range)" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    <input class="form-control" type="text" ng-model="newAlert.status" />
  </div>
  <div class="form-group" style="float: right;">
    <label>Transaction Rate (%)</label>
    <i ng-show="uiSettings.showTooltips" uib-tooltip="Optional. Specifies a percentage rate for which transactions need to match (within the last hour) in order to trigger an alert. E.g. if 10% is specified, then an alert will only be triggered if 10% or more of the transactions in the last hour have the matching status code." class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    <input class="form-control" type="number" min="0" max="100" ng-model="newAlert.failureRate" />
  </div>
</div>



<tabset justified="true">
  <tab heading="Add Users">
    <!-- ************* NEW USER FOR CHANNNEL ALERT ************** -->
    <div class="form-group" style="margin-top: 15px;">
      <label><span>**</span> Add a new user</label>
      <div uib-alert ng-show="newAlert.users.length==0" type="warning">There are currently no Users added for this Channel Alert</div>
      <div ng-show="newAlert.users.length > 0">
        <div id="no-more-tables">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>User</th>
                <th>Method</th>
                <th>Max Alerts</th>
                <th width="70"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in newAlert.users">
                <td data-title="# {{ $index +1 }}" class="responsiveTransactionIndexCheckbox"><span>{{ $index +1 }}</span></td>
                <td data-title="User"><a href="" ng-click="editAlertUser($index, user)">{{usersMap[user.user]}}</a></td>
                <td data-title="Method">{{ user.method }}</td>
                <td data-title="Max Alerts">{{ user.maxAlerts }}</td>
                <td>
                  <button class="btn btn-warning btn-xs" ng-click="editAlertUser($index, user)"><i class="glyphicon glyphicon-pencil"></i></button>
                  <button class="btn btn-danger btn-xs" ng-click="removeAlertUser($index)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-group" style="display: inline-block; width: 100%; margin-bottom: 0px;">
        <select class="form-control channelAlertUserDropDown" ng-model="newAlertUser.user" style="max-width: 170px;">
          <option value="">User</option>
          <option ng-repeat="user in users" value="{{user.email}}">{{user.firstname}} {{user.surname}} ({{user.email}})</option>
        </select>

        <select class="form-control channelAlertUserDropDown" ng-model="newAlertUser.method">
          <option value="">Method</option>
          <option value="email">email</option>
          <option value="sms">sms</option>
        </select>

        <select class="form-control channelAlertUserDropDown" ng-model="newAlertUser.maxAlerts">
          <option value="">Max Alerts</option>
          <option value="no max">no max</option>
          <option value="1 per hour">1 per hour</option>
          <option value="1 per day">1 per day</option>
        </select>

        <button class="btn btn-sm btn-primary channelAlertUserDropDown" ng-click="addAlertUser(newAlertUser)" ng-disabled="!(isAlertUserValid())" style="height: 34px;"><i class="glyphicon glyphicon-plus"></i> User</button>
      </div>
    </div>
  </tab>

  <tab heading="Add Contact Lists">
    <!-- ************* NEW GROUP FOR CHANNNEL ALERT ************** -->
    <div class="form-group" style="margin-top: 15px;">
      <label><span>**</span> Add a new Contact List</label>
      <div uib-alert ng-show="newAlert.groups.length==0" type="warning">There are currently no Contact Lists added for this Channel Alert</div>
      <div ng-show="newAlert.groups.length > 0">
        <div id="no-more-tables">
          <table class="table table-striped">
            <thead>
              <tr>
                <th width="50">#</th>
                <th>Group</th>
                <th width="70"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="group in newAlert.groups">
                <td data-title="# {{ $index +1 }}" class="responsiveTransactionIndexCheckbox"><span>{{ $index +1 }}</span></td>
                <td data-title="Group">{{groupsMap[group]}}</td>
                <td>
                  <button class="btn btn-danger btn-xs" ng-click="removeAlertGroup($index)"><i class="glyphicon glyphicon-remove"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="form-group" style="display: inline-block; width: 100%; margin-bottom: 0px;">
        <select class="form-control channelAlertUserDropDown" ng-model="newAlertGroup.group" style="max-width: 170px;">
          <option value="">Contact List</option>
          <option ng-repeat="group in alertGroups" value="{{group._id}}">{{group.group}}</option>
        </select>
        <button class="btn btn-sm btn-primary channelAlertUserDropDown" ng-click="addAlertGroup(newAlertGroup)" ng-disabled="!(isAlertGroupValid())" style="height: 34px;"><i class="glyphicon glyphicon-plus"></i> Group</button>
      </div>
    </div>
    <!-- ************* NEW GROUP FOR CHANNNEL ALERT ************** -->
  </tab>
</tabset>


<button class="btn btn-sm btn-primary" ng-click="addAlert(newAlert)" ng-disabled="!(isAlertValid())"><i class="glyphicon glyphicon-plus"></i> Alert</button>
