<p class="text-muted">
  Controls what data is stored and how requests and responses are modified as they pass through the OpenHIM.
</p>

<div class="form-group-2columns">
  <div class="form-group" style="float: left;">
    <label style="display: block;">
      Store Request Body
      <i ng-show="uiSettings.showTooltips" uib-tooltip="Set whether the transaction request body should be saved" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    </label>
    <div class="btn-group" style="clear: both;">
      <label class="btn btn-primary" ng-model="channel.requestBody" uib-btn-radio="true">Yes</label>
      <label class="btn btn-primary" ng-model="channel.requestBody" uib-btn-radio="false">No</label>
    </div>
  </div>
  <div class="form-group" style="float: left; margin-left: 20px;">
    <label style="display: block;">
      Store Response Body
      <i ng-show="uiSettings.showTooltips" uib-tooltip="Set whether the transaction response body should be saved" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    </label>
    <div class="btn-group" style="margin-bottom: 10px; clear: both;">
      <label class="btn btn-primary" ng-model="channel.responseBody" uib-btn-radio="true">Yes</label>
      <label class="btn btn-primary" ng-model="channel.responseBody" uib-btn-radio="false">No</label>
    </div>
  </div>
</div>

<div ng-if="channel.responseBody || channel.requestBody" style="border-top: 1px solid #eee;">
  <h4>Body Retention</h4>
  <div class="form-group" style="width: 45%" ng-class="{ 'has-error' : ngError.maxBodyAgeDays }">
    <label style="display: block;">
      Max Body Age
      <i ng-show="uiSettings.showTooltips" uib-tooltip="Maximum age in days that the body from the request and response is kept" class="glyphicon glyphicon-question-sign tooltip-wide" style="font-size: 12px"></i>
    </label>
    <input type="number" class="form-control" ng-model="channel.maxBodyAgeDays" ng-model-options="{allowInvalid: true}" min="1">
    <span ng-if="ngError.maxBodyAgeDays" class="help-text">Must be a number greater than 0 or less than 36500</span>
  </div>
</div>

<div ng-show="channel.requestBody" style="border-top: 1px solid #eee;">
  <h4>Auto Retry</h4>

  <div class="form-group-2columns">
    <div class="form-group" style="float: left;">
      <label style="display: block;">
        Automatically resend failed transactions?
        <i ng-show="uiSettings.showTooltips" uib-tooltip="Allows the OpenHIM to periodically resend any transactions that have failed due to a connection error"
          class="glyphicon glyphicon-question-sign tooltip-wide"></i>
      </label>
      <div class="btn-group" style="clear: both;">
        <label class="btn btn-primary" ng-model="channel.autoRetryEnabled" uib-btn-radio="true">Yes</label>
        <label class="btn btn-primary" ng-model="channel.autoRetryEnabled" uib-btn-radio="false">No</label>
      </div>
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;">
      <label style="display: block">
        How often?
        <i ng-show="uiSettings.showTooltips" uib-tooltip="The period (in minutes) to wait before resending transactions" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
      </label>
      <div class="btn-group" ng-class="{ 'has-error' : ngError.autoRetryPeriodMinutes }" style="clear: both;">
        <input class="form-control" type="number" min="1" max="302400" ng-disabled="!channel.autoRetryEnabled" ng-model="channel.autoRetryPeriodMinutes"
        />
      </div>
    </div>
  </div>

  <div class="form-group-2columns">
    <div class="form-group" style="float: left;">
      <label style="display: block;">
        Enable max number of attempts
        <i ng-show="uiSettings.showTooltips" uib-tooltip="The maximum number of times to retry transactions that are continuously failing"
          class="glyphicon glyphicon-question-sign tooltip-wide"></i>
      </label>
      <div class="btn-group" style="clear: both;">
        <label class="btn btn-primary" ng-disabled="!channel.autoRetryEnabled" ng-model="autoRetry.enableMaxAttempts" uib-btn-radio="true">Yes</label>
        <label class="btn btn-primary" ng-disabled="!channel.autoRetryEnabled" ng-model="autoRetry.enableMaxAttempts" uib-btn-radio="false">No</label>
      </div>
    </div>
    <div class="form-group" style="float: left; margin-left: 20px;">
      <label style="display: block">
        Times
      </label>
      <div class="btn-group" ng-class="{ 'has-error' : ngError.maxAttempts }" style="clear: both;">
        <input class="form-control" type="number" min="1" max="302400" ng-disabled="!channel.autoRetryEnabled || !autoRetry.enableMaxAttempts"
          ng-model="channel.autoRetryMaxAttempts" />
      </div>
    </div>
  </div>
</div>

<div ng-show="channel.responseBody" style="border-top: 1px solid #eee;">
  <h4>URL Rewriting</h4>
  <!-- Route Alerts -->
  <div uib-alert ng-if="!urlRewriteAddEdit" ng-repeat="alert in alerts.urlRewrite" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
  <!-- Route Alerts -->

  <div ng-if="urlRewriteAddEdit" class="addEditRoutes">
    <h4 style="font-size: 16px;">Set URL Rewrite Rule</h4>

    <div class="form-group-2columns">
      <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngErrorUrlRewrite.fromHost }">
        <label>
          <span style="color: #a94442;">*</span> From Host</label>
        <input ng-model="newUrlRewrite.fromHost" class="form-control" placeholder="From Host" type="text" />
        <div class="has-error-msg">
          <i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>
      <div class="form-group" style="float: left; margin-left: 20px;" ng-class="{ 'has-error' : ngErrorUrlRewrite.fromPort }">
        <label>
          <span style="color: #a94442;">*</span> From Port</label>
        <br />
        <input ng-model="newUrlRewrite.fromPort" class="form-control" placeholder="From Port" type="text" />
        <div class="has-error-msg">
          <i class="glyphicon glyphicon-warning-sign"></i>{{ngErrorUrlRewrite.portError}}</div>
      </div>
    </div>
    <div class="form-group-2columns">
      <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngErrorUrlRewrite.toHost }">
        <label>
          <span style="color: #a94442;">*</span> To Host</label>
        <input ng-model="newUrlRewrite.toHost" class="form-control" placeholder="To Host" type="text" />
        <div class="has-error-msg">
          <i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>
      <div class="form-group" style="float: left; margin-left: 20px;" ng-class="{ 'has-error' : ngErrorUrlRewrite.toPort }">
        <label>
          <span style="color: #a94442;">*</span> To Port</label>
        <br />
        <input ng-model="newUrlRewrite.toPort" class="form-control" placeholder="To Port" type="text" />
        <div class="has-error-msg">
          <i class="glyphicon glyphicon-warning-sign"></i>{{ngErrorUrlRewrite.portError}}</div>
      </div>
    </div>
    <div class="form-group-2columns">
      <div class="form-group" style="float: left;">
        <label>
          Path Transform
          <i ng-show="uiSettings.showTooltips" uib-tooltip-html="'Transform the path by using the following substitute expression format:<br /> s/from/to/g'"
            class="glyphicon glyphicon-question-sign tooltip-wide"></i>
        </label>
        <br />
        <input ng-model="newUrlRewrite.pathTransform" class="form-control" placeholder="s/from/to/g " type="text" />
      </div>
    </div>


    <div style="margin-top: 10px;">
      <button type="button" class="btn btn-default" ng-click="cancelUrlRewriteAddEdit()">Cancel</button>
      <button type="button" class="btn btn-primary" ng-click="saveUrlRewrite( oldUrlRewriteIndex )" style="margin-left: 5px;">Set Rewrite Rule</button>

      <!-- hasErrors Alerts -->
      <div uib-alert style="display: inline-block; margin: 0px 0px 0px 5px; padding: 8px;" ng-repeat="alert in alerts.hasErrorsUrlRewrite"
        ng-class="'alert-' + (alert.type || 'warning')">
        <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
      </div>
      <!-- hasErrors Alerts -->
    </div>
  </div>


  <div ng-if="!urlRewriteAddEdit">

    <div class="form-group-2columns">
      <div class="form-group" style="float: left;">
        <label style="display: block;">
          URL Rewriting enabled?
          <i ng-show="uiSettings.showTooltips" uib-tooltip="URL rewriting allows the OpenHIM to look for URLs in a response and rewrite them so that they point to the correct location. These rules can be specified explicitly below."
            class="glyphicon glyphicon-question-sign tooltip-wide"></i>
        </label>
        <div class="btn-group" style="clear: both;">
          <label class="btn btn-primary" ng-model="channel.rewriteUrls" uib-btn-radio="true">Yes</label>
          <label class="btn btn-primary" ng-model="channel.rewriteUrls" uib-btn-radio="false">No</label>
        </div>
      </div>
      <div class="form-group" style="float: left; margin-left: 20px;">
        <label style="display: block">
          Add Auto Rewrite Rules?
          <i ng-show="uiSettings.showTooltips" uib-tooltip="Determines whether automatic rewrite rules are used. These rules enabled URLs to be automatically rewritten for any URLs that points to a host that the OpenHIM proxies (any host on a primary route). These can be overridden by user specified rules if need be."
            class="glyphicon glyphicon-question-sign tooltip-wide"></i>
        </label>
        <div class="btn-group" style="clear: both;">
          <label class="btn btn-primary" ng-model="channel.addAutoRewriteRules" uib-btn-radio="true">Yes</label>
          <label class="btn btn-primary" ng-model="channel.addAutoRewriteRules" uib-btn-radio="false">No</label>
        </div>
      </div>
    </div>

    <div uib-alert ng-if="channel.rewriteUrlsConfig.length == 0" type="'warning'">No URL Rewrite Rules have been added</div>

    <table class="table table-striped" ng-if="channel.rewriteUrlsConfig.length > 0">
      <thead>
        <tr style="font-weight: bold">
          <th>
            <div style="width: 30%; float: left; display: block; margin-right: 1%;">From</div>
            <div style="width: 30%; float: left; display: block; margin-right: 1%;">To</div>
            <div style="width: 15%; float: left; display: block; margin-right: 1%;">Path Transform</div>
            <div style="width: 8%; float: right; display: block;"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="rewrite in channel.rewriteUrlsConfig">

          <td colspan="6">
            <div style="width: 30%; float: left; display: block; margin-right: 1%;">
              <span>{{ rewrite.fromHost }}:{{ rewrite.fromPort }}</span>
            </div>
            <div style="width: 30%; float: left; display: block; margin-right: 1%;">
              <span>{{ rewrite.toHost }}:{{ rewrite.toPort }}</span>
            </div>
            <div style="width: 15%; float: left; display: block; margin-right: 1%;">
              <span>{{ rewrite.pathTransform }}</span>
            </div>

            <div style="width: 8%; float: right; display: block;">
              <button class="btn btn-warning btn-xs" ng-click="addEditUrlRewrite('edit', rewrite, $index)">
                <i class="glyphicon glyphicon-pencil"></i>
              </button>
              <button class="btn btn-danger btn-xs" ng-click="removeUrlRewrite($index)">
                <i class="glyphicon glyphicon-remove"></i>
              </button>
            </div>
          </td>

        </tr>
      </tbody>
    </table>

    <button style="float: left; margin-right: 20px;" class="btn btn-primary" ng-click="addEditUrlRewrite('new', null, null)">Add Custom URL Rewrite Rule</button>
  </div>
</div>
