<div>
  <span>
    <label> Directly Assigned Clients</label><br/>
    <ul>
      <li ng-repeat="client in assignedClients"><span >{{client}}</span></li>
    </ul>
  </span>
</div>

<div class="form-group-2columns" ng-class="{ 'has-error' : ngError.roles }">
  <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.password }">
    <label><span>**</span> Assign Existing Roles</label>
    <br/>
    <span ng-repeat="role in roles">
      <input type="checkbox" ng-model="requiredForNgChange" ng-checked="formData.assigned[role.name]" ng-change="toggleAssignedRoles(role.name)">{{role.name}}</input>
      <br/>
    </span>
    <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>Either '<strong>Assign Existing Roles</strong>' or '<strong>Add New Role</strong>' is required!</div>
  </div>
  <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.roles }">
    <label><span>**</span> Add New Role</label>
    <input class="form-control" type="text" name="newRole" ng-model="formData.newChannelRole" ng-blur="createNewRole()" ng-keyup="$event.keyCode == 13 && createNewRole()"/>
    <div style="color:orange" ng-show="formData.duplicateNewRole"><i class="glyphicon glyphicon-warning-sign"></i>Role/Client already assigned to Channel</div>
    <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>Either '<strong>Assign Existing Roles</strong>' or '<strong>Add New Role</strong>' is required!</div>
  </div>
</div>
<div class="form-group">
  <label>User groups allowed to view this channel's transactions</label>
  <taglist tag-data="channel.txViewAcl"><input class="form-control" placeholder="Enter the user groups that can view transactions created by this channel..." type="text" ng-model="txViewAcl" typeahead="group for group in taglistUserRoleOptions | filter:$viewValue" /></taglist>
</div>
<div class="form-group">
  <label>User groups allowed to view this channel's transactions request/response body</label>
  <taglist tag-data="channel.txViewFullAcl"><input class="form-control" placeholder="Enter the user groups that can view transactions request/response body created by this channel..." type="text" ng-model="txViewFullAcl" typeahead="group for group in taglistUserRoleOptions | filter:$viewValue" /></taglist>
</div>
<div class="form-group">
  <label>User groups allowed to rerun this channel's transactions</label>
  <taglist tag-data="channel.txRerunAcl"><input class="form-control" placeholder="Enter the user groups that can view transactions created by this channel..." type="text" ng-model="txRerunAcl" typeahead="group for group in taglistUserRoleOptions | filter:$viewValue" /></taglist>
</div>