<!-- Route Alerts -->
<alert ng-repeat="alert in alerts.route" type="alert.type">{{alert.msg}}</alert>
<!-- Route Alerts -->

<div >
  <table class="table table-striped">
    <thead>
      <tr style="font-weight: bold">
        <th>
          <div style="width: 8%; float: right; display: block;"></div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;"><span style="color: #a94442;">*</span> Name | Primary</div>
          <div style="width: 18%; float: left; display: block; margin-right: 1%;">Type | Secured</div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;"><span style="color: #a94442;">*</span> Host | Port</div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;"><span style="color: #a94442;">**</span> Path/Transform</div>
        </th>
      </tr>
    <thead>
    <tbody>
      <tr ng-repeat="route in channel.routes">

        <td colspan="6">
          <div style="width: 8%; float: right; display: block;">
            <form editable-form name="rowform" onbeforesave="saveRoute($data, route.name)" ng-show="rowform.$visible" class="form-buttons form-inline" shown="newRoute == route">
              <button class="btn btn-success btn-xs" ng-disabled="rowform.$waiting" type="submit"><i class="glyphicon glyphicon-ok"></i></button> 
              <button class="btn btn-danger btn-xs" ng-click="removeRoute($index)"><i class="glyphicon glyphicon-remove"></i></button>
            </form>
            <div class="buttons" ng-show="!rowform.$visible">
              <button class="btn btn-warning btn-xs" ng-click="rowform.$show()"><i class="glyphicon glyphicon-pencil"></i></button> 
              <button class="btn btn-danger btn-xs" ng-click="removeRoute($index)"><i class="glyphicon glyphicon-remove"></i></button>
            </div>
          </div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">
            <span editable-text="route.name" e-name="name" e-form="rowform" e-placeholder="Route Name" e-title="Route Name" onaftersave="checkRequiredField($data)" e-required>{{ route.name || "Name Required!" }}</span>
            <span editable-select="route.primary" e-name="primary" e-form="rowform" e-title="Primary Route?" e-ng-options="option.key as option.value for option in primaryOptions"></span>
            <label tooltip="The primary route is the route from which the http response will be read and returned to the client.">
              <i ng-if="route.primary" class="glyphicon glyphicon-star" style="color: #428bca"></i>
            </label>
          </div>
          <div style="width: 18%; float: left; display: block; margin-right: 1%;">
            <span editable-select="route.type" e-name="type" e-form="rowform" e-title="Route Type?" e-ng-options="option.key as option.value for option in typeOptions">
              <span ng-if="route.type=='http'" class="btn-info btn-xs">HTTP</span> 
              <span ng-if="route.type=='tcp'" class="btn-warning btn-xs">TCP</span>
              <span ng-if="route.type=='mllp'" class="btn-primary btn-xs">MLLP</span>
            </span>
            <span editable-select="route.secured" e-name="secured" e-form="rowform" e-title="Route Secured?" e-ng-options="option.key as option.value for option in securedOptions">
              <span ng-if="route.secured==true" class="btn-success btn-xs">Secured</span> 
              <span ng-if="route.secured==false" class="btn-danger btn-xs">Unsecured</span>
            </span>
          </div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">
            <span editable-text="route.host" e-name="host" e-form="rowform" e-placeholder="Host" e-title="Route Host" onaftersave="checkRequiredField($data)" e-required style="float: left;">{{ route.host || "Host Required!" }}</span>
            <span editable-text="route.port" e-name="port" e-form="rowform" e-placeholder="Port" e-title="Route Port" onaftersave="checkIsPortValid($data)" e-required>:{{ route.port || "Port Required!" }}</span>
          </div>
          <div style="width: 23%; float: left; display: block; margin-right: 1%;">
            <span editable-text="route.path" e-name="path" e-form="rowform" e-placeholder="Path" e-title="Route Path" onaftersave="checkPathTransformPathSet(route, 'path')">{{ route.path }}</span>
            <span editable-text="route.pathTransform" e-name="pathTransform" e-form="rowform" e-placeholder="Path Transform" e-title="Route Path Transform" onaftersave="checkPathTransformPathSet(route, 'pathTransform')">{{ route.pathTransform }}</span>
          </div>

          <div style="width: 100%; float: left; display: block;" ng-show="rowform.$visible">
            <div style="width: 23%; float: left; margin-right: 1%;">
              <p style="margin: 10px 0 0;"><strong>Basic Auth</strong></p>
              <span editable-text="route.username" e-name="username" e-form="rowform" e-placeholder="Auth Username" e-title="Basic Auth Username"></span>
              <span editable-text="route.password" e-name="password" e-form="rowform" e-placeholder="Auth Password" e-title="Basic Auth Password"></span>  
            </div>
            <div style="width: 50%; float: left;" ng-if="rowform.$data.secured==true">
              <p style="margin: 10px 0 0;"><strong>Host certificate authority</strong></p>
              <select class="form-control editable-input" style="width: auto;" e-form="rowform" editable-select="route.cert" ng-model="route.cert" e-ng-options="cert._id as cert.commonName for cert in trustedCerts">
                <option value="">Use default CAs</option>
              </select>
            </div>
          </div>
        </td>

      </tr>
    <tbody>
  </table>
</div>
<button style="float: left; margin-right: 20px;" class="btn btn-primary" ng-click="addRoute()">Add New Route</button>
<select style="float: left; width: auto;" class="form-control" ng-model="mediator.route" ng-change="addRoute('mediator')" ng-options="route as route.name for route in mediators">
  <option value="">Add Mediator Route</option>
</select>