<fieldset>
  <div class="content-box-large bordered-box">

    <div class="form-group collapse-side-margins" ng-repeat="def in configDefs">

      <div ng-if="!def.array">

        <div class="col-sm-3">
          <label ng-if="def.displayName">
            {{def.displayName}}
            <i ng-if="def.description" uib-tooltip="{{def.description}}" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
          </label>
          <label ng-if="!def.displayName">{{def.param}}</label>
        </div><!-- col-sm-3 -->

        <div class="col-sm-9">
          <div ng-if="def.type === 'string'">
            <input class="form-control" type="text" ng-model="config[def.param]">
          </div>

          <div ng-if="def.type === 'bigstring'">
            <textarea rows="4" class="form-control" ng-model="config[def.param]"></textarea>
          </div>

          <div ng-if="def.type === 'bool'">
            <div class="btn-group" style="margin-bottom: 10px; clear: both;">
              <label class="btn btn-primary" ng-model="config[def.param]" uib-btn-radio="true">Yes</label>
              <label class="btn btn-primary" ng-model="config[def.param]" uib-btn-radio="false">No</label>
            </div>
          </div>

          <div ng-if="def.type === 'number'">
            <input class="form-control" type="number" ng-model="config[def.param]">
          </div>

          <div ng-if="def.type === 'option'">
            <select class="form-control" ng-options="val for val in def.values" ng-model="config[def.param]"></select>
          </div>

          <div ng-if="def.type === 'map'">
            <table class="mediator-config-map">
              <tr ng-repeat="(mapping, _v) in config[def.param]">
                <td>{{mapping}}</td>
                <td><input class="form-control" type="text" ng-model="config[def.param][mapping]"></td>
                <td><button type="button" class="btn btn-danger btn-xs" ng-click="removeMapping(def.param, mapping)"><i class="glyphicon glyphicon-remove"></i></button></td>
              </tr>
              <tr>
                <td><input class="form-control" type="text" ng-model="inputKeys[def.param]"></td>
                <td><input class="form-control" type="text" ng-model="inputValues[def.param]"></td>
                <td><button type="button" class="btn btn-primary btn-xs" ng-click="addNewMapping(def.param)" ng-disabled="!isNewKeyValid(def.param)"><i class="glyphicon glyphicon-plus"></i></button></td>
              </tr>
              <tr ng-if="doesNewKeyExist(def.param)">
                <td><div class="has-error"><i class="glyphicon glyphicon-warning-sign"></i>Key already exists</div></td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>

          <div ng-if="def.type === 'struct'">
            <div mediator-nested-config config-defs="def.template" config="config[def.param]"></div>
          </div>

          <div ng-if="def.type === 'password'">
            <input class="form-control" type="password" ng-model="config[def.param]">
          </div>
        </div><!-- col-sm-9 -->
      </div><!-- if !array -->

      <div ng-if="def.array">
        <div ng-repeat="configItem in config[def.param] track by $index">
          <div class="col-sm-3">
            <div ng-if="$index == 0">
              <label ng-if="def.displayName">
                {{def.displayName}}
                <i ng-if="def.description" uib-tooltip="{{def.description}}" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
              </label>
              <label ng-if="!def.displayName">{{def.param}}</label>
            </div>
          </div><!-- col-sm-3 -->

          <div class="col-sm-8">
            <div ng-if="def.type === 'string'">
              <input class="form-control" type="text" ng-model="config[def.param][$index]">
            </div>

            <div ng-if="def.type === 'bigstring'">
              <textarea rows="4" class="form-control" ng-model="config[def.param][$index]"></textarea>
            </div>

            <div ng-if="def.type === 'bool'">
              <div class="btn-group" style="margin-bottom: 10px; clear: both;">
                <label class="btn btn-primary" ng-model="config[def.param][$index]" uib-btn-radio="true">Yes</label>
                <label class="btn btn-primary" ng-model="config[def.param][$index]" uib-btn-radio="false">No</label>
              </div>
            </div>

            <div ng-if="def.type === 'number'">
              <input class="form-control" type="number" ng-model="config[def.param][$index]">
            </div>

            <div ng-if="def.type === 'option'">
              <select class="form-control" ng-options="val for val in def.values" ng-model="config[def.param][$index]"></select>
            </div>

            <div ng-if="def.type === 'map'">
              <table class="mediator-config-map">
                <tr ng-repeat="(mapping, _v) in config[def.param][$index]">
                  <td>{{mapping}}</td>
                  <td><input class="form-control" type="text" ng-model="config[def.param][$parent.$index][mapping]"></td>
                  <td><button type="button" class="btn btn-danger btn-xs" ng-click="removeMappingInArray(def.param, $parent.$index, mapping)"><i class="glyphicon glyphicon-remove"></i></button></td>
                </tr>
                <tr>
                  <td><input class="form-control" type="text" ng-model="inputKeysForArrays[def.param + $parent.$index]"></td>
                  <td><input class="form-control" type="text" ng-model="inputValuesForArrays[def.param + $parent.$index]"></td>
                  <td><button type="button" class="btn btn-primary btn-xs" ng-click="addNewMappingInArray(def.param, $parent.$index)" ng-disabled="!isNewKeyValidInArray(def.param, $parent.$index)"><i class="glyphicon glyphicon-plus"></i></button></td>
                </tr>
                <tr ng-if="doesNewKeyExistInArray(def.param, $parent.$index)">
                  <td><div class="has-error"><i class="glyphicon glyphicon-warning-sign"></i>Key already exists</div></td>
                  <td></td>
                  <td></td>
                </tr>
              </table>
            </div>

            <div ng-if="def.type === 'struct'">
              <div mediator-nested-config config-defs="def.template" config="config[def.param][$index]"></div>
            </div>

            <div ng-if="def.type === 'password'">
              <input class="form-control" type="password" ng-model="config[def.param][$index]">
            </div>
          </div><!-- col-sm-8 -->

          <div class="col-sm-1 mediator-config-col">
            <button type="button" class="btn btn-danger btn-xs" ng-click="removeArrayItem(def.param, $index)"><i class="glyphicon glyphicon-remove"></i></button>
          </div><!-- col-sm-1 -->
        </div><!-- ng-repeat configItem in config[def.param] -->
        <div>
          <div class="col-sm-3">
            <div ng-if="!config[def.param] || config[def.param].length == 0">
              <label ng-if="def.displayName">
                {{def.displayName}}
                <i ng-if="def.description" uib-tooltip="{{def.description}}" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
              </label>
              <label ng-if="!def.displayName">{{def.param}}</label>
            </div>
          </div><!-- col-sm-3 -->
          <div class="col-sm-9 mediator-config-col">
            <button type="button" class="btn btn-primary btn-xs" ng-click="addNewArrayItem(def)">
              <i class="glyphicon glyphicon-plus"></i>
              <span ng-if="def.displayName">{{def.displayName}}</span>
              <span ng-if="!def.displayName">{{def.param}}</span>
            </button>
          </div>
        </div>
      </div><!-- if array -->

    </div><!-- ng-repeat def in configDefs -->
  </div>
</fieldset>
