<table class="table table-striped transactionTable" style="margin-bottom: 0px;">
  <tr ng-repeat="(k, v) in config">
    <td class="mediator-settings-col1">
      <strong>
        <span ng-if="mediatorDefsMap[k].displayName">{{mediatorDefsMap[k].displayName}}</span>
        <span ng-if="!mediatorDefsMap[k].displayName">{{k}}</span>
      </strong>
      <i ng-if="mediatorDefsMap[k].description" tooltip="{{mediatorDefsMap[k].description}}" class="glyphicon glyphicon-question-sign"></i>
    </td>
    <td class="mediator-settings-col2">
      <div ng-if="mediatorDefsMap[k].type !== 'map' && mediatorDefsMap[k].type !== 'struct'">{{v}}</div>
      <div ng-if="mediatorDefsMap[k].type === 'map'">
        <a data-toggle="collapse" href="#mediator-map-table-{{$id}}-{{$index}}">Show Values <i class="glyphicon glyphicon-chevron-down"></i></a>
        <div id="mediator-map-table-{{$id}}-{{$index}}" class="panel panel-default collapse">
          <div class="panel-body">
            <table class="table-condensed table-borderless">
              <tr ng-repeat="(mk, mv) in v">
                <th>{{mk}}: </th>
                <td>{{mv}}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div ng-if="mediatorDefsMap[k].type === 'struct'">
        <div mediator-nested-config-display config-defs="mediatorDefsMap[k].template" config="v"></div>
      </div>
    </td>
  </tr>
</table>
