
<div class="auditFilterDiv">
  <label class="auditFilterDivLabel">Basic Filters: </label>
  <div class="settings_div" style="float: left; margin-right: 15px;">
    <label>
      Status:
      <i ng-show="uiSettings.showTooltips" tooltip-placement="top" uib-tooltip="Select an option to filter rerun tasks by their status" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    </label>
    <select class="form-control"
      ng-model="filters.status"
      ng-class="{formControlNotEmpty: filters.status}"
      ng-change="applyFiltersToUrl()">
      <option value="">Don't filter</option>
      <option value="Queued">Show Queued</option>
      <option value="Processing">Show Processing</option>
      <option value="Paused">Show Paused</option>
      <option value="Cancelled">Show Cancelled</option>
      <option value="Completed">Show Completed</option>
    </select>
  </div>
  <div class="settings_div" style="float: left; margin-right: 15px;">
    <label>
      User:
      <i ng-show="uiSettings.showTooltips" tooltip-placement="top" uib-tooltip="Select an option to filter rerun tasks by user" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    </label>
    <select class="form-control"
      ng-model="filters.user"
      ng-options="user.email as (user.firstname+' '+user.surname+' ('+user.email+')') for user in users | orderBy:['firstname']"
      ng-class="{formControlNotEmpty: filters.user}"
      ng-change="applyFiltersToUrl()">
      <option value="">Don't filter</option>
      <!--<option ng-repeat="user in users" ng-value="user.email">{{user.firstname}} {{user.surname}} ({{user.email}})</option>-->
    </select>
  </div>
  <div class="settings_div" style="float: left; margin-right: 15px;">
    <label>
      Date:
      <i ng-show="uiSettings.showTooltips" tooltip-placement="top" uib-tooltip="Pick a date to filter rerun tasks by" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    </label>
    <input
      datetimepicker
      datetimepicker-options="{ format: 'YYYY-MM-DD', useCurrent: false }"
      placeholder="select a date"
      ng-model="filters.date"
      type="text"
      class="form-control input-date"
      name="end"
      ng-change="applyFilterIfValidDate(filters.date)" />
  </div>
  <div class="settings_div" style="float: left;">
    <label>
      Limit:
      <i ng-show="uiSettings.showTooltips" tooltip-placement="top" uib-tooltip="Set the limit of how many records to display" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
    </label>
    <select class="form-control" 
      ng-model="filters.limit" 
      ng-change="applyFiltersToUrl()"
      ng-options="limit as limit for limit in limits"
      >
    </select>
  </div>
</div>

<div class="transactionsFilterRefreshDiv">
  <button class="btn btn-warning" ng-click="clearFilters();"><i class="glyphicon glyphicon-remove"></i> Clear Filters</button>
</div>
