<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;About the OpenHIM</h2>
            <p class="text-muted">
              Details about the application.
            </p>
          </div>
        </div>


        <div class="panel-body" ng-show="aboutInfo">
          <!-- Display version of core and console of current instance.  Background warning if incompatible -->
          <div class="about-info version-info">
            <h3>Running versions of Core and Console:</h3>
            <div class="readable-text">OpenHIM Admin Console <strong>v{{ aboutInfo.currentConsoleVersion }}</strong></div>
            <div class="readable-text">OpenHIM Core <strong>v{{ aboutInfo.currentCoreVersion }}</strong></div>
            <div class="readable-text">Versions are
              <span ng-if="aboutInfo.compatible === true"><strong class="version-info-text">Compatible</strong></span>
              <span ng-if="aboutInfo.compatible === false"><strong class="version-danger-text">Incompatible</strong></span>
            </div>

            <!-- Display versions of core compatible with this version of console if the current instance is incompatible -->
            <div ng-if="aboutInfo.compatible === false" class="about-info compatible-versions-info">
              <h4>Versions of Core compatible with this version of Console:</h4>
              <div class="readable-text">{{ aboutInfo.minimumCoreVersion }} &lt= <strong>Core</strong> &lt {{ aboutInfo.maximumCoreVersion }}</div>
            </div>
          </div>
          
          <!-- Display Server Timezone  -->
          <div class="about-info version-info">
            <h3>Server Timezone:</h3>
            <div class="readable-text">Timezone: <strong>{{ aboutInfo.serverTimezone }}</strong></div>
            <div class="readable-text">Server Time: <strong>{{ aboutInfo.serverTime }}</strong></div>
          </div>
        </div>
        
        <!-- Server Alerts -->
        <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{ alert.msg }}</div>
        <!-- Server Alerts -->
        
      </div>
    </div>
  </div>
</div>
