<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-info-sign"></i>&nbsp;&nbsp;About the OpenHIM</h2>
            <p class="text-muted">
              Details about the application.
            </p>
          </div>
        </div>


        <div class="panel-body">
          <div>
            <!-- Display version of core and console of current instance.  Background warning if incompatible -->
            <div class="version" ng-class="footerVersionsCompatible ? '' : 'version-incompatible'">
              <h3>Running versions of Core and Console:</h3>
              <br/>
              <h4>OpenHIM Admin Console v{{ aboutInfo.currentConsoleVersion }}</h4>
              <h4>OpenHIM Core v{{ aboutInfo.currentCoreVersion }}</h4>
            </div>
          </div>
          <br/>
          
          <div>
            <!-- Display versions of core compatible with this version of console if the current instance is incompatible -->
            <div ng-if="aboutInfo.compatible == false" class="version version-compatible">
              <h3>Versions of Core compatible with this version of Console:</h3>
              <br/>
              <h4>{{ aboutInfo.minimumCoreVersion }} &lt= <strong>Core</strong> &lt {{ aboutInfo.maximumCoreVersion }}</h4>
            </div>
          </div>
        </div>
        
        <!-- Server Alerts -->
        <alert ng-repeat="alert in alerts.server" type="alert.type">{{ alert.msg }}</alert>
        <!-- Server Alerts -->
        
      </div>
    </div>
  </div>
</div>
