<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title" style="float: inherit">
            <h2>
              <i class="glyphicon glyphicon-book"></i>
              &nbsp;Audit #{{auditDetails._id}}</h2>
          </div>
        </div>

        <!-- server Alerts -->
        <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
        <!-- Server Alerts -->

        <!-- audit Alerts -->
        <div uib-alert ng-repeat="alert in alerts.top" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
        <!-- audit Alerts -->

        <div class="panel-body" ng-show="auditDetails">

          <div style="display: inline-block; width: 100%;">
            <button class="btn btn-primary pull-right" style="margin: 0px 0px 20px 0px;" ng-click="viewContentDetails('Raw Audit Message', auditDetails.rawMessage)">View Raw Audit Message</button>
          </div>

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Event </h3>
            </div>
            <div class="panel-body">
              <div class="audit-info-box" ng-if="auditDetails.eventIdentification.eventDateTime">
                Event Time <br /><strong>{{auditDetails.eventIdentification.eventDateTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</strong>
              </div>
              <div class="audit-info-box" ng-if="auditDetails.eventIdentification.eventActionCode || auditDetails.eventIdentification.eventOutcomeIndicator">
                Event Action / Outcome <br /><strong>{{ eventActionMap[auditDetails.eventIdentification.eventActionCode] }} / {{ eventOutcomeMap[auditDetails.eventIdentification.eventOutcomeIndicator] }}</strong>
              </div>

              <div class="audit-info-box" ng-if="auditDetails.eventIdentification.eventTypeCode.code">
                Event Type <br /><strong>{{auditDetails.eventIdentification.eventTypeCode.code}} ( {{auditDetails.eventIdentification.eventTypeCode.codeSystemName}} ) - {{auditDetails.eventIdentification.eventTypeCode.displayName}}</strong>
              </div>

              <div class="audit-info-box" ng-if="auditDetails.eventIdentification.eventID.code">
                Event ID <br /><strong>{{auditDetails.eventIdentification.eventID.code}} ( {{auditDetails.eventIdentification.eventID.displayName}} ) - {{auditDetails.eventIdentification.eventID.codeSystemName}}</strong>
              </div>
            </div>
          </div>

          <div class="panel panel-warning">
            <div class="panel-heading">
              <h3 class="panel-title">Audit Source </h3>
            </div>
            <div class="panel-body">
              <div class="audit-info-box" ng-if="auditDetails.auditSourceIdentification.auditSourceID">
                Audit Source ID <br /><strong>{{auditDetails.auditSourceIdentification.auditSourceID}}</strong>
              </div>
              <div class="audit-info-box" ng-if="auditDetails.auditSourceIdentification.auditEnterpriseSiteID">
                Audit Source ID <br /><strong>{{auditDetails.auditSourceIdentification.auditEnterpriseSiteID}}</strong>
              </div>
              <div class="audit-info-box" ng-if="auditDetails.auditSourceIdentification.auditSourceTypeCode">
                Audit Source ID <br /><strong>{{auditDetails.auditSourceIdentification.auditSourceTypeCode.code}} ( {{auditDetails.auditSourceIdentification.auditSourceTypeCode.displayName}} ) - {{auditDetails.auditSourceIdentification.auditSourceTypeCode.codeSystemName}}</strong>
              </div>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Active Participant </h3>
            </div>

            <div class="panel-body">
              <div class="auditRepeatBox" ng-repeat="activeParticipant in auditDetails.activeParticipant">
                <div class="audit-info-box" style="font-size: 16px; padding: 10px; text-decoration: underline;">#{{ $index +1 }}</div>
                <div class="audit-info-box" ng-if="activeParticipant.userID">
                  User ID <br /><strong>{{activeParticipant.userID}}</strong>
                </div>
                <div class="audit-info-box" ng-if="activeParticipant.alternativeUserID">
                  Alt. User ID <br /><strong>{{ activeParticipant.alternativeUserID }}</strong>
                </div>
                <div class="audit-info-box" ng-if="activeParticipant.userIsRequestor!==''">
                  Is Requestor <br /><strong>{{ activeParticipant.userIsRequestor }}</strong>
                </div>
                <div class="audit-info-box" ng-if="activeParticipant.networkAccessPointID">
                  Network Access Point <br /><strong>{{ activeParticipant.networkAccessPointID }}</strong>
                </div>
                <div class="audit-info-box" ng-if="activeParticipant.roleIDCode.code">
                  Role ID <br /><strong>{{activeParticipant.roleIDCode.code}} ( {{activeParticipant.roleIDCode.codeSystemName}} ) - {{activeParticipant.roleIDCode.displayName}}</strong>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
              <h3 class="panel-title">Participant Object </h3>
            </div>
            <div class="panel-body">
              <div class="auditRepeatBox" ng-repeat="participantObjectIdentification in auditDetails.participantObjectIdentification">
                <div class="audit-info-box" style="font-size: 16px; padding: 10px; text-decoration: underline;">#{{ $index +1 }}</div>

                <div class="audit-info-box" ng-if="participantObjectIdentification.participantObjectID">
                  Object ID <br /><strong>{{participantObjectIdentification.participantObjectID}}</strong>
                </div>
                <div class="audit-info-box" ng-if="participantObjectIdentification.participantObjectTypeCode || participantObjectIdentification.participantObjectTypeCodeRole">
                  Object Type Code / Role <br /><strong>{{ participantObjectIdentification.participantObjectTypeCode }} / {{ participantObjectIdentification.participantObjectTypeCodeRole }}</strong>
                </div>
                <div class="audit-info-box" ng-if="participantObjectIdentification.participantObjectIDTypeCode.code">
                  Object ID Type Code <br /><strong>{{participantObjectIdentification.participantObjectIDTypeCode.code}} ( {{participantObjectIdentification.participantObjectIDTypeCode.codeSystemName}} ) - {{participantObjectIdentification.participantObjectIDTypeCode.displayName}}</strong>
                </div>
                <div class="audit-info-box" ng-if="participantObjectIdentification.participantObjectDetail.type">
                  Object Detail Type <br /><strong>{{participantObjectIdentification.participantObjectDetail.type}}</strong>
                </div>
                <div class="audit-info-box" ng-if="participantObjectIdentification.participantObjectDetail.value">
                  Object Detail Value <br /><strong>{{participantObjectIdentification.participantObjectDetail.value}}</strong>
                </div>
                <div class="audit-info-box" ng-if="participantObjectIdentification.participantObjectQuery">
                  Object Query <br />
                  <button class="btn btn-primary" style="padding: 3px 5px; font-size: 12px;" ng-click="viewContentDetails('Object Query', participantObjectIdentification.participantObjectQuery)">Click to view Object Query</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
