<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addClientLabel">
    <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;
    <span ng-show="update">Edit</span>
    <span ng-show="!update">Add</span>
     a certificate</h4>
</div>
<form name="form" novalidate>
  <div class="modal-body">

    <div class="form-group has-error-key">
      <span>*</span> Indicates a required field<br />
    </div>

    <fieldset>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.clientID }">
          <label><span>*</span> Country Name (2 letter code) [AU]</label>
          <input class="form-control" type="text" ng-model="cert.countryName" ng-disabled="update" focus="{{!update}}" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.name }">
          <label><span>*</span> State or Province Name (full name) [Some-State]</label>
          <input class="form-control" type="text" ng-model="cert.state" name="name" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
      </div>

      <div class="form-group-2columns" ng-class="{ 'has-error' : ngError.clientDomain }">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.locality }">
          <label><span>*</span> Locality Name (eg, city)</label>
          <input class="form-control" type="text" ng-model="cert.locality" ng-disabled="update" focus="{{!update}}" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.email }">
          <label><span>*</span> Email Address</label>
          <input class="form-control" type="text" ng-model="cert.email" name="email" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ngError.roles }">
        <label><span>*</span> Organization Name (eg, company) [Internet Widgits Pty Ltd] </label>
        <input class="form-control" type="text" ng-model="cert.orgName" ng-disabled="update" focus="{{!update}}" >
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.password }">
          <label ng-if="client.passwordHash" tooltip="A password has been set for this client" style="float: right">
            <i class="glyphicon glyphicon-lock"></i>
          </label>

          <label><span>**</span> Organizational Unit Name (eg, section)</label>
          <input class="form-control" placeholder="Set/change password..." type="text" ng-model="cert.orgUnitName">
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>Either '<strong>Certificate</strong>' or '<strong>Password</strong>' is required!</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.passwordConfirm }">
          <label>Common Name (e.g. server FQDN or YOUR name)</label>
          <input class="form-control" placeholder="Confirm password..." type="password" ng-model="cert.commonName">
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationPasswordConfirmMsg}}</div>
        </div>
      </div>

      <div class="form-group-2columns" ng-class="{ 'has-error' : ngError.clientDomain }">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.clientID }">
          <label> A challenge password </label>
          <input class="form-control" type="text" ng-model="cert.password" ng-disabled="update" focus="{{!update}}" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.name }">
          <label> An optional company name </label>
          <input class="form-control" type="text" ng-model="cert.optionalCompanyName" name="name" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">

    <!-- hasErrors Alerts -->
    <alert style="width: 50%; float: left; text-align: left; margin: 0; padding: 5px;" ng-repeat="alert in alerts.hasErrors" type="alert.type">
      <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
    </alert>
    <!-- hasErrors Alerts -->

    <div>
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="submitFormCertificate()">Create Certificate</button>
    </div>
  </div>
</form>
