<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-random"></i>&nbsp;&nbsp;Channels</h2>
            <p class="text-muted">
              Create and manage channels. A channel in the OpenHIM captures a request that matches the channel configuration and routes those requests to one or more routes that are defined in the channel config. The response from the primary route will be returned to the request sender as soon as the OpenHIM receives it.
            </p>
          </div>
        </div>

        <!-- Top Alerts -->
        <div uib-alert ng-repeat="alert in alerts.top" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
        <!-- Top Alerts -->



        <ul class="list logList">
          <li ng-repeat="entry in sortingLog track by $index" class="logItem">
            {{entry}}
          </li>
        </ul>

        <div class="panel-body">
          <div id="no-more-tables">
            <table class="table table-striped channelListingTable">
              <thead>
                  <tr>
                    <th width="90">
                      Priority
                      <i ng-show="uiSettings.showTooltips" uib-tooltip="If a transaction gets matched to two or more channels, then it will get routed to the channel with the highest priority. A value of 1 is the highest possible priority and larger numbers indicate a lower priority." class="glyphicon glyphicon-question-sign"></i>
                    </th>
                    <th>Channel Name</th>
                    <th>Channel URL Pattern</th>
                    <th>Access</th>
                    <th>Monitoring</th>
                    <th>Status</th>
                    <th width="100"></th>
                  </tr>
              </thead>
              <tbody>
                <tr ng-repeat="channel in channels | orderBy:['-status', 'priority','name']">
                  <td data-title="Priority" align="left" style="font-weight: bold">
                    <div class="channelPriorityOrdering">
                      <i class="glyphicon glyphicon-circle-arrow-up priorityUp" ng-if="channel.priority > 1 || !channel.priority" ng-click="updateChannelPriority(channel, 'up');"></i>
                      <i class="glyphicon glyphicon-circle-arrow-down priorityDown" ng-if="channel.priority" ng-click="updateChannelPriority(channel, 'down');"></i>
                    </div>
                    <span ng-if="channel.priority">{{ channel.priority }}</span>
                    <span ng-if="!channel.priority">-</span>
                  </td>
                  <td data-title="Channel Name">
                    <a uib-tooltip={{channel.description}} ng-if="channel.status!='deleted'" href="" ng-click="editChannel(channel)">{{ channel.name }}</a>
                    <span ng-if="channel.status=='deleted'">{{ channel.name }}</span>
                  </td>
                  <td data-title="Channel URL Pattern">{{ channel.urlPattern }}</td>
                  
                  <td data-title="Access">
                    <div class="channelAccessControlDiv" ng-if="channel.status!='deleted'" href="">
                      
                      <span ng-if="channel.allow" uib-tooltip="Clients and Roles" ng-click="editChannel(channel, 'Request Matching')">
                        <i class="glyphicon glyphicon-th"></i>
                        <a>{{ channel.allow.join(', ') }}</a>
                      </span>
                      
                      <span ng-if="channel.whitelist" uib-tooltip="Whitelisted ip addresses" ng-click="editChannel(channel, 'Request Matching')">
                        <i class="glyphicon glyphicon-ok"></i>
                        <a>{{ channel.whitelist.join(', ') }}</a>
                      </span>
                      
                      <span ng-if="channel.authType=='public'" uib-tooltip="Channel is publically available" ng-click="editChannel(channel, 'Request Matching')">
                        <i class="glyphicon glyphicon-cloud-upload"></i>
                        <a > {{ channel.authType }}</a>
                      </span>

                    </div>
                    <div ng-if="channel.status=='deleted'">
                      <span>{{ channel.authType }}</span>
                    </div>
                  </td>
                  
                  <td data-title="Monitoring"><a href="#!/channels/{{channel._id}}">Show metrics</a></td>
                  <td data-title="status">

                    <span style="font-size: 16px; color: #3c763d" ng-if="channel.status=='enabled' || !channel.status"><i class="glyphicon glyphicon-ok-circle"></i> Enabled</span>
                    <span style="font-size: 16px; color: #f0ad4e" ng-if="channel.status=='disabled'"><i class="glyphicon glyphicon-remove-circle"></i> Disabled</span>
                    <span style="font-size: 16px; color: #d9534f" ng-if="channel.status=='deleted'"><i class="glyphicon glyphicon-ban-circle"></i> Deleted</span>

                  </td>
                  <td>

                    <div ng-if="channel.status!='deleted'">
                      <button uib-tooltip="Duplicate" class="btn btn-info btn-xs" ng-click="duplicateChannel(channel)" tooltip-popup-delay="500"><i class="glyphicon glyphicon-file"></i></button>
                      <button uib-tooltip="Edit" class="btn btn-warning btn-xs" ng-click="editChannel(channel)" tooltip-popup-delay="500"><i class="glyphicon glyphicon-pencil"></i></button>
                      <button uib-tooltip="Delete" class="btn btn-danger btn-xs" ng-click="confirmDelete(channel)" tooltip-popup-delay="500"><i class="glyphicon glyphicon-remove"></i></button>
                    </div>
                    <div ng-if="channel.status=='deleted'">
                      <button class="btn btn-warning btn-xs" ng-click="confirmRestore(channel)"><i class="glyphicon glyphicon-repeat"></i></button>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- show loading gif when scope object empty and no server errors exist -->
          <div class="loadingContainer" ng-show="!(channels || alerts.server)">
            <span id="loading-spinner" alt="Loading..."></span>
          </div>

          <!-- Server Alerts -->
          <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
          <!-- Server Alerts -->

          <!-- Bottom Alerts -->
          <div uib-alert ng-repeat="alert in alerts.bottom" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
          <!-- Bottom Alerts -->

          <button class="btn btn-primary" ng-click="addChannel()" ng-show="!alerts.server"><i class="glyphicon glyphicon-plus"></i> Channel</button>
        </div>
      </div>
    </div>
  </div>
</div>
