<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addChannelLabel">
    <i class="glyphicon glyphicon-random"></i>&nbsp;&nbsp;
    <span ng-show="update">Edit</span>
    <span ng-show="!update">Add</span>
     a channel
  </h4>
</div>

<div class="modal-body">

  <div class="form-group has-error-key">
    <span>*</span> Indicates a required field<br />
    <span>*</span><span>*</span> Indicates one or the other field may be supplied - Not both
  </div>

  <fieldset>
       

    <tabset justified="true">
      <!-- ************* TAB FOR CHANNEL ACCESS CONTROL ************** -->
      <tab class="{{ngError.accessBasicInfoTab === true ? 'has-error-tab' : ''}}">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Basic Info</tab-heading>
        <h3>Basic Info</h3>
        <div ng-include="'views/partials/channels-tab-basic-info.html'"></div>
      </tab>



      <!-- ************* TAB FOR CHANNEL ACCESS CONTROL ************** -->
      <tab class="{{ngError.accessControlTab === true ? 'has-error-tab' : ''}}">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Access Control</tab-heading>
        <h3>Access Control</h3>
        <div ng-include="'views/partials/channels-tab-access-control.html'"></div>        
      </tab>



      <!-- ************* TAB FOR CHANNEL CONTENT MATCHING ************** -->
      <tab class="{{ngError.contentMatchingTab === true ? 'has-error-tab' : ''}}">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Content Matching</tab-heading>
        <h3>Content Matching</h3>
        <div ng-include="'views/partials/channels-tab-content-matching.html'"></div>
      </tab>



      <!-- ************* TAB FOR CHANNEL ROUTES ************** -->
      <tab class="{{ngError.routesTab === true ? 'has-error-tab' : ''}}">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Routes</tab-heading>
        <h3>Routes</h3>
        <div ng-include="'views/partials/channels-tab-routes.html'"></div>
      </tab>



      <!-- ************* TAB FOR CHANNEL ALERTS ************** -->
      <tab>
        <tab-heading>Alerts</tab-heading>
        <h3>Alerts</h3>
        <div ng-include="'views/partials/channels-tab-alerts.html'"></div>
      </tab>



      <!-- ************* TAB FOR GENERAL CHANNEL SETTINGS ************** -->
      <tab class="{{ngError.contentSettingsTab === true ? 'has-error-tab' : ''}}">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Settings</tab-heading>
        <h3>Settings</h3>
        <div ng-include="'views/partials/channels-tab-settings.html'"></div>
      </tab>


    </tabset>
  </fieldset>
</div>


<div class="modal-footer">

  <!-- hasErrors Alerts -->
  <alert style="width: 50%; float: left; text-align: left; margin: 0; padding: 5px;" ng-repeat="alert in alerts.hasErrors" type="alert.type">
    <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
  </alert>
  <!-- hasErrors Alerts -->

  <div>
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="submitFormChannels()">Save changes</button>
  </div>
</div>
