<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addChannelLabel">
    <i class="glyphicon glyphicon-random"></i>&nbsp;&nbsp;
    <span ng-show="update">Edit</span>
    <span ng-show="!update">Add</span>
     a channel
  </h4>
</div>

<div class="modal-body">

  <div class="form-group has-error-key">
    <span>*</span> Indicates a required field<br />
    <span>*</span><span>*</span> Indicates one or the other field may be supplied - Not both
  </div>

  <fieldset>
    <tabset justified="true">
      <!-- ************* TAB FOR CHANNEL BASIC INFO ************** -->
      <tab ng-controller="channelBasicInfoCtrl" class="{{ngError.basicInfoTab === true ? 'has-error-tab' : ''}}" active="selectedTab.basicInfo">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Basic Info</tab-heading>
        <h3>Basic Info</h3>
        <div ng-include="'views/partials/channels-tab-basic-info.html'"></div>
      </tab>

      <!-- ************* TAB FOR CHANNEL REQUEST MATCHING ************** -->
      <tab ng-controller="channelRequestMatchingCtrl" class="{{ngError.requestMatchingTab === true ? 'has-error-tab' : ''}}" active="selectedTab.requestMatching">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Request Matching</tab-heading>
        <h3>Request Matching</h3>
        <div ng-include="'views/partials/channels-tab-request-matching.html'"></div>
      </tab>

      <!-- ************* TAB FOR CHANNEL ROUTES ************** -->
      <tab ng-controller="channelRoutesCtrl" class="{{ngError.routesTab === true ? 'has-error-tab' : ''}}" active="selectedTab.routes">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Routes</tab-heading>
        <h3>Routes</h3>
        <div ng-include="'views/partials/channels-tab-routes.html'"></div>
      </tab>

      <!-- ************* TAB FOR CHANNEL DATA CONTROL ************** -->
      <tab ng-controller="channelDataControlCtrl" class="{{ngError.dataControlTab === true ? 'has-error-tab' : ''}}" active="selectedTab.dataControl">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>Data Control</tab-heading>
        <h3>Data Control</h3>
        <div ng-include="'views/partials/channels-tab-data-control.html'"></div>
      </tab>

      <!-- ************* TAB FOR CHANNEL ACCESS CONTROL ************** -->
      <tab ng-controller="channelUserAccessCtrl" class="{{ngError.userAccessTab === true ? 'has-error-tab' : ''}}" active="selectedTab.accessControl">
        <tab-heading><i class="glyphicon glyphicon-warning-sign" style="display: none"></i>User Access</tab-heading>
        <h3>User Access</h3>
        <div ng-include="'views/partials/channels-tab-user-access.html'"></div>
      </tab>



      <!-- ************* TAB FOR CHANNEL ALERTS ************** -->
      <tab ng-controller="channelAlertsCtrl" class="{{ngError.alertsTab === true ? 'has-error-tab' : ''}}" active="selectedTab.alerts">
        <tab-heading>Alerts</tab-heading>
        <h3>Alerts</h3>
        <div ng-include="'views/partials/channels-tab-alerts.html'"></div>
      </tab>

    </tabset>
  </fieldset>
</div>


<div class="modal-footer">

  <!-- hasErrors Alerts -->
  <div uib-alert style="width: auto; float: left; text-align: left; margin: 0; padding: 8px;" ng-repeat="alert in alerts.hasErrors" ng-class="'alert-' + (alert.type || 'warning')">
    <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
  </div>
  <!-- hasErrors Alerts -->

  <div>
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary" ng-click="submitFormChannels()">Save changes</button>
  </div>
</div>
