<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">

        <div class="panel-heading">
          <div class="panel-title" style="float: inherit">
            <h2>Channel: {{channel.name}}</h2>
          </div>
        </div>

        <!-- server Alerts -->
        <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
        <!-- Server Alerts -->

        <div class="panel-body" ng-show="!alerts.server">

          <div class="content-box-large">
            <div class="panel-heading">
              <div class="panel-title">Basic Channel Metrics</div>
            </div>
            <div class="panel-body">
              Some basic channel metric information can go here to give the user both visual illustrations as well as easy to read text 

              <p>Total Transactions (Past Week): {{loadTotal}}</p>
            </div>
          </div>

          <div class="content-box-large load-metrics-line-graph">
            <div class="panel-heading">
              <div class="panel-title">Transaction Load (Past Week)</div>
              <div class="panel-options">
                <i class="glyphicon glyphicon-refresh reload-metrics-btn" ng-click="getLoadMetrics()"></i>
              </div>
            </div>
            <div class="panel-body">
              <div id="load-graph" style="height: 230px;">
                <!-- Transaction Load Alerts -->
                <alert ng-repeat="alert in alerts.load" type="alert.type">{{alert.msg}}</alert>
                <!-- Transaction Load Alerts -->
              </div>
            </div>
          </div>

          <div class="content-box-large response-time-metrics-line-graph">
            <div class="panel-heading">
              <div class="panel-title">Average Response Time (Past Week)</div>
              
              <div class="panel-options">
                <i class="glyphicon glyphicon-refresh reload-metrics-btn" ng-click="getResponseTimeMetrics()"></i>
              </div>
            </div>
            <div class="panel-body">
              <div id="response-time-graph" style="height: 230px;"></div>
            </div>
          </div>

          <div class="content-box-large" style="clear: both">
            <div class="panel-heading">
              <div class="panel-title">Transaction Status (Past Day)</div>
              
              <div class="panel-options">
                <i class="glyphicon glyphicon-refresh reload-metrics-btn" ng-click="getStatusMetrics()"></i>
              </div>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-9">
                  <div id="status-bar" style="height: 300px;"></div>
                </div>
                <div class="col-md-3">
                  <div id="status-donut" style="height: 300px;"></div>
                </div>
              </div>
            </div>
          </div>

        </div>          

      </div>
    </div>
  </div>
</div>