<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'" />
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
        <div class="panel-title">Channels</div>
        
        <div class="panel-options">
          <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
          <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
        </div>
      </div>
        <div class="panel-body">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>#</th>
                  <th>Channel Name</th>
                  <th>Channel Load <br>(# transactions / Week)</th>
                  <th>Status <br>(Active | Inactive)</th>
                  <th>Edit / Delete</th>
                </tr>
            </thead>
            <tbody>
              <tr ng-repeat="channel in channels">
                <td>{{ $index +1 }}</td>
                <td><a href="#">{{ channel.name }}</a></td>
                <td><a href="#">0</a></td>
                <td>Active</td>
                <td>
                  <a href="#">edit</a> |
                  <a href="#">delete</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
