<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addClientLabel">Add a client</h4>
</div>
<form>
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label>Client ID</label>
        <input class="form-control" type="text" ng-model="client.clientID">
      </div>
      <div class="form-group">
        <label>Client Name</label>
        <input class="form-control" type="text" ng-model="client.name">
      </div>
      <div class="form-group">
        <label>Domain</label>
        <input class="form-control" type="text" ng-model="client.domain">
      </div>
      <div class="form-group">
        <label>Allowed Roles</label>
        <taglist tag-data="client.roles"><input class="form-control" placeholder="Enter a role and press enter..." type="text" required /></taglist>
      </div>
      <div class="form-group">
        <label>Certificate</label>
        <textarea class="form-control" rows="5" ng-model="client.cert" ng-trim="false"></textarea>
      </div>
      <div class="form-group">
        <label>Basic Auth</label>
        <input class="form-control" placeholder="Set/change password..." type="password" ng-model="password"><br/>
        <input class="form-control" placeholder="Retype password..." type="password" ng-model="passwordRetype"><br/>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="save(client, password)" ng-disabled="!isClientValid(client, password, passwordRetype)">Save changes</button>
  </div>
</form>
