<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;Clients</h2>
          </div>
          
          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>

        <!-- Top Alerts -->
        <alert ng-repeat="alert in alerts.top" type="alert.type">{{alert.msg}}</alert>
        <!-- Top Alerts -->

        <div class="panel-body">
          <div id="no-more-tables">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Domain</th>
                  <th>Roles</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="client in clients">
                  <td data-title="#{{ $index +1 }}"><span id="counter">{{ $index +1 }}</span></td>
                  <td data-title="ID"><a href="" ng-click="editClient(client)">{{ client.clientID }}</a></td>
                  <td data-title="Name"><a href="" ng-click="editClient(client)">{{ client.name }}</a></td>
                  <td data-title="clientDomain">{{ client.clientDomain }}</td>
                  <td data-title="Roles">{{ client.roles.join(', ') }}</td>
                  <td>
                    <button class="btn btn-warning btn-xs" ng-click="editClient(client)"><i class="glyphicon glyphicon-pencil"></i></button>
                    <button class="btn btn-danger btn-xs" ng-click="confirmDelete(client)"><i class="glyphicon glyphicon-remove"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- show loading gif when scope object empty and no server errors exist -->
          <div class="loadingContainer" ng-show="!(clients || alerts.server)">
            <img src="images/loading.gif" alt="Loading..." />
          </div>

          <!-- Server Alerts -->
          <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
          <!-- Server Alerts -->

          <!-- Bottom Alerts -->
          <alert ng-repeat="alert in alerts.bottom" type="alert.type">{{alert.msg}}</alert>
          <!-- Bottom Alerts -->

          <button class="btn btn-primary" ng-click="addClient()" ng-show="!alerts.server"><i class="glyphicon glyphicon-plus"></i> Client</button>
        </div>
      </div>
    </div>
  </div>
</div>
