<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addClientLabel">
    <i class="glyphicon glyphicon-th"></i>&nbsp;&nbsp;
    <span ng-show="update">Edit</span>
    <span ng-show="!update">Add</span>
     a client</h4>
</div>
<form name="form" novalidate>
  <div class="modal-body">

    <div class="form-group has-error-key">
      <span>*</span> Indicates a required field<br />
      <span>*</span><span>*</span> Indicates one of the fields are required
    </div>

    <fieldset>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.clientID }">
          <label><span>*</span> Client ID</label>
          <input class="form-control" type="text" ng-model="client.clientID" ng-disabled="update" focus="{{!update}}" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.name }">
          <label><span>*</span> Client Name</label>
          <input class="form-control" type="text" ng-model="client.name" name="name" >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ngError.clientDomain }">
        <label><span>*</span> Domain</label>
        <input class="form-control" type="text" ng-model="client.clientDomain" >
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : ngError.roles }">
        <label><span>*</span> Roles</label>
        <taglist tag-data="client.roles"><input class="form-control" placeholder="Enter a role and press enter..." type="text" name="roles" ng-model="roles" typeahead="role for role in taglistClientRoleOptions | filter:$viewValue" /></taglist>
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : ngError.cert }">
        <label><span>**</span> Certificate</label>
        <textarea class="form-control" rows="5" ng-model="client.cert" ng-trim="false"></textarea>
      </div>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.password }">
          <label ng-if="client.passwordHash" tooltip="A password has been set for this client" style="float: right">
            <i class="glyphicon glyphicon-lock"></i>
          </label>

          <label><span>**</span> Basic Auth Password</label>
          <input class="form-control" placeholder="Set/change password..." type="password" ng-model="temp.password">
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>Either '<strong>Certificate</strong>' or '<strong>Password</strong>' is required!</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.passwordConfirm }">
          <label>Confirm Password</label>
          <input class="form-control" placeholder="Confirm password..." type="password" ng-model="temp.passwordConfirm">
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationPasswordConfirmMsg}}</div>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">

    <!-- hasErrors Alerts -->
    <alert style="width: 50%; float: left; text-align: left; margin: 0; padding: 5px;" ng-repeat="alert in alerts.hasErrors" type="alert.type">
      <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
    </alert>
    <!-- hasErrors Alerts -->

    <div>
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="submitFormClients()">Save changes</button>
    </div>
  </div>
</form>
