<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addClientLabel">
    <span ng-show="update">Edit</span>
    <span ng-show="!update">Add</span>
     a client</h4>
</div>
<form name="form" validate>
  <div class="modal-body">
    <fieldset>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : form.clientID.$invalid && !form.clientID.$pristine }">
          <label>Client ID</label>
          <input class="form-control" type="text" ng-model="client.clientID" name="clientID" ng-disabled="update" required >
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i> This field is required!</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : form.name.$invalid && !form.name.$pristine }">
          <label>Client Name</label>
          <input class="form-control" type="text" ng-model="client.name" name="name" required>
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i> This field is required!</div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : form.clientDomain.$invalid && !form.clientDomain.$pristine }">
        <label>Domain</label>
        <input class="form-control" type="text" ng-model="client.clientDomain" name="clientDomain" required>
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i> This field is required!</div>
      </div>
      <div class="form-group" ng-class="{ 'has-error' : form.client.roles.$invalid && !form.client.roles.$pristine }">
        <label>Allowed Roles</label>{{form.$error}}
        <taglist tag-data="client.roles"><input class="form-control" placeholder="Enter a role and press enter..." type="text" name="roles" onchange="if(!client.roles || client.roles.length==0){this.$setValidity(false);}" data-ng-required="!client.roles || client.roles.length==0" /></taglist>
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i> This field is required!</div>
      </div>
      <div class="form-group">
        <label>Certificate</label>
        <textarea class="form-control" rows="5" ng-model="client.cert" ng-trim="false"></textarea>
      </div>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : form.clientID.$invalid && !form.clientID.$pristine }">
          <label>Basic Auth Password</label>
          <input class="form-control" placeholder="Set/change password..." type="password" ng-model="password">
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i> This field is required!</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : form.clientID.$invalid && !form.clientID.$pristine }">
          <label>Confirm Password</label>
          <input class="form-control" placeholder="Retype password..." type="password" ng-model="passwordRetype">
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i> This field is required!</div>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <!--<button type="button" class="btn btn-primary" ng-click="save(client, password)" ng-disabled="!isClientValid(client, password, passwordRetype)">Save changes</button>-->
    <button type="button" class="btn btn-primary" ng-click="save(client, password)" ng-disabled="( form.$invalid )">Save changes</button>
  </div>
</form>
