<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-transfer"></i>&nbsp;&nbsp;Export/Import</h2>
            <p class="text-muted">
              Import and export the OpenHIM's configuration as desired. The configuration will be written out to or read in from a JSON file.
            </p>
          </div>
        </div>

        <!-- Top Alerts -->
        <alert ng-repeat="alert in alerts.top" type="alert.type">{{alert.msg}}</alert>
        <!-- Top Alerts -->
        
        <div class="exportSectionDiv">

          <h3><strong>Export Data</strong></h3>
          <div style=" float: left; clear: both; width: 100%; margin-bottom: 10px;">
            <label>
              Will this export file be used as an Insert or Update?
              <i ng-show="uiSettings.showTooltips" tooltip-placement="top" tooltip="For an 'Insert Script' the exported data will always add new elements, however, an 'Update Script' will attempt to update existing elements if possible" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
            </label><br />
            <div class="btn-group" style="margin-bottom: 10px;">
              <label class="btn btn-primary" ng-model="exportSettings.removeIds" btn-radio="true"><strong>Insert</strong> Script</label>
              <label class="btn btn-primary" ng-model="exportSettings.removeIds" btn-radio="false"><strong>Update</strong> Script</label>
            </div>
          </div>
          
          <div class="exportCollectionsDiv" ng-repeat="(model, collectionData) in exportCollections">
            <label class="exportModelTitle">
              <input type="checkbox" ng-checked="true" ng-model="checkBox" value="{{collectionData}}" ng-change="toggleCollectionExportSelection(model, collectionData)" />All {{model}}
              <i ng-if="showRecordOptions[model]" class="glyphicon glyphicon-chevron-up"></i>
              <i ng-if="!showRecordOptions[model]" class="glyphicon glyphicon-chevron-down"></i>
            </label>
            <div ng-if="showRecordOptions[model]">
              <div ng-repeat="record in collectionData | orderBy:['name','firstname','group']">
                <label class="exportRecordTitle">
                  <input type="checkbox" ng-model="checkBox" value="{{record}}" ng-change="toggleRecordExportSelection(model, record)" />
                  <span ng-if="model=='Users'">{{record.firstname}} {{record.surname}} </span>
                  <span ng-if="model=='ContactGroups'">{{record.group}} </span>
                  <span ng-if="model=='Channels' || model=='Clients' || model=='Mediators'">{{record.name}} </span>
                </label>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <button class="btn btn-primary" ng-click="createExportFile()" ng-show="!alerts.server"><i class="glyphicon glyphicon-export"></i> Generate Export Script</button>

            <a ng-if="downloadLink" download="{{importScriptName}}" class="btn btn-primary" ng-href="{{downloadLink}}" ng-click="downloadExportFile()"><i class="glyphicon glyphicon-export"></i> Download Export Script</a>
          </div>
        </div>

        <div class="importSectionDiv">
          <h3><strong>Import Data</strong></h3>
          <div class="importCollectionsDiv" >
          
            <div ng-file-drop ng-file-select ng-model="files" class="drop-box" drag-over-class="dragover" allow-dir="true" ng-accept="'.json,'" ng-multiple="true">Drop your export file here or click to import your configurations</div>
            <div ng-no-file-drop>File Drag/Drop is not supported for this browser</div>

            <div ng-if="files">
              <h3>Uploaded Files: </h3>
              <ul style="margin: 20px 0px 10px 0px;">
                <li ng-repeat="f in files" style="font:smaller">{{f.name}}</li>
              </ul>
            </div>
            
          </div>

          <div ng-if="importProgressStatus">
            <h3>Import Results: </h3>
            <progressbar ng-if="importProgressStatus" style="width: 100%; margin-bottom: 15px;" class="progress-striped active" max="100" value="importProgressStatus" type="{{importProgressType}}"><i>{{importProgressStatus}} %</i></progressbar>
            <div>
              <label>Successfull Imports ( {{importSuccess}} )</label>
            </div>
            <div>
              <label class="failedImportsLink">Failed Imports ( {{importFail}} )</label>

              <div id="no-more-tables" ng-if="importFail">
                <table class="table table-bordered" style="100%">
                  <thead>
                    <tr>
                      <th width="50">#</th>
                      <th>Model</th>
                      <th>Record</th>
                      <th>Status</th>
                      <th>Error</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="import in failedImports">
                      <td data-title="#{{ $index +1 }}"><span id="counter">{{ $index +1 }}</span></td>
                      <td data-title="Model">{{ import.model }}</td>
                      <td data-title="Record">{{ import.record }}</td>
                      <td data-title="Status">{{ import.status }}</td>
                      <td data-title="Error">{{ import.error }}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>


        <div class="panel-body">

          <!-- show loading gif when scope object empty and no server errors exist -->
          <div class="loadingContainer" ng-show="!(exportCollections || alerts.server)">
            <img src="images/loading.gif" alt="Loading..." />
          </div>

          <!-- Server Alerts -->
          <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
          <!-- Server Alerts -->

          <!-- Bottom Alerts -->
          <alert ng-repeat="alert in alerts.bottom" type="alert.type">{{alert.msg}}</alert>
          <!-- Bottom Alerts -->

        </div>
      </div>
    </div>
  </div>
</div>
