<div class="page-content">
  <div class="row">
    <div class="login-wrapper">
      <div class="box">
        <div class="content-wrap">
          <h6>Forgot Password</h6>
          <form ng-submit="submitRequest()">
            <input class="form-control" type="text" ng-model="userEmail" placeholder="E-mail address" focus="true" ng-show="showFormCtrl">
            <div style="display: inline-block; width: 100%;">
              <a style="float: right;" href="#/login">Back to login</a>
            </div>

            <!-- Login Alerts -->
            <alert ng-repeat="alert in alerts.forgotPassword" type="alert.type">{{alert.msg}}</alert>
            <!-- Login Alerts -->

            <div class="action" ng-show="showFormCtrl">
              <input type="submit" class="btn btn-primary signup" value="Email Reset Instructions" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>