<div class="page-content">
  <div class="row">
    <div class="login-wrapper">
      <div class="box">
        <div class="content-wrap">
          <h6>Sign In</h6>
          <form ng-submit="validateLogin()" autocomplete='on'>
            <input class="form-control" type="text" ng-model="loginEmail" placeholder="E-mail address">
            <input class="form-control" type="password" ng-model="loginPassword" placeholder="Password">

            <alert type="alert.type" ng-repeat="alert in alerts">{{alert.msg}}</alert>

            <div class="action">
              <input type="submit" class="btn btn-primary signup" value="Login" />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>