<div class="page-content">
  <div class="row">

	<div class="login-wrapper">
		<div class="box">
		    <div class="content-wrap">
		        <h6>Sign In</h6>
		        
		        <input class="form-control" type="text" placeholder="E-mail address">
		        <input class="form-control" type="password" placeholder="Password">
		        <div class="action">
		            <a class="btn btn-primary signup" href="index.html">Login</a>
		        </div>                
		    </div>
		</div>
	</div>

    
    	
    
  </div>
</div>