<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-link"></i>&nbsp;&nbsp;Mediators</h2>
          </div>
        </div>

        <!-- Top Alerts -->
        <alert ng-repeat="alert in alerts.top" type="alert.type">{{alert.msg}}</alert>
        <!-- Top Alerts -->
        
        <div class="panel-body">

          <div id="no-more-tables">
            <!-- Table with all the transaction logs -->

            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>URN</th>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Version</th>
                  <th>Last Heartbeat</th>
                  <th>Uptime at Heartbeat</th>
                  <th width="80"></th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-list" ng-repeat="mediator in mediators | orderBy:['name']" ng-click='viewMediatorDetails("/mediators/" + mediator.urn, $event)'>
                  <td data-title="# {{ $index +1 }}" class="responsiveTransactionIndexCheckbox">
                    <span>{{ $index +1 }}</span>
                  </td>
                  <td data-title="URN">{{ mediator.urn }}</td>
                  <td data-title="Name">{{ mediator.name }}</td>
                  <td data-title="Description">{{ mediator.description }}</td>
                  <td data-title="Version">{{ mediator.version }}</td>
                  <td data-title="LastHeartbeat" title="{{mediator.lastHeartbeatDisplay}}">
                    <span ng-if="mediator.lastHeartbeatStatus === 'never'" class="label label-default">Never</span>
                    <span ng-if="mediator.lastHeartbeatStatus !== 'never'" class="label label-{{mediator.lastHeartbeatStatus}}">{{mediator._lastHeartbeat | date:'yyyy-MM-dd HH:mm'}}</span>
                  </td>
                  <td data-title="Uptime">{{ mediator.uptimeDisplay }}</td>
                  <td>
                    <button class="btn btn-danger btn-xs" ng-click="confirmDelete(mediator)"><i class="glyphicon glyphicon-remove"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>

            <div>
              <!-- show loading gif when scope object empty and no server errors exist -->
              <div class="loadingContainer" ng-show="!(mediators || alerts.server)">
                <img src="images/loading.gif" alt="Loading..." />
              </div>

              <!-- server Alerts -->
              <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
              <!-- Server Alerts -->

              <!-- Mediators Alerts -->
              <alert ng-repeat="alert in alerts.bottom" type="alert.type">{{alert.msg}}</alert>
              <!-- Mediators Alerts -->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
