<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">Profile</div>

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <button class="btn btn-primary" ng-click="updateProfile()"><i class="glyphicon glyphicon-plus"></i> Update Profile
          </button>
        </div>
      </div>
    </div>
  </div>
</div>