<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-star-empty"></i>&nbsp;&nbsp;Roles</h2>
            <!-- <pre>{{roles | json}}</pre> -->
          </div>
        </div>

        <!-- Top Alerts -->
        <alert ng-repeat="alert in alerts.top" type="alert.type">{{alert.msg}}</alert>
        <!-- Top Alerts -->
        <div class="rolesChannelsMatrixDiv">
          <div class="panel-body">
            <div id="no-more-tables">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="50">#</th>
                    <th>Role</th>
                    <th width="150">Clients
                      <span class="isAllowed" ng-click="toggleDisplayAllClients()">
                        <i class="glyphicon glyphicon-plus"></i>
                      </span>
                      <span ng-show="clientEdited" style="color:#FE7A2F" ng-click="writeClientEditToApi()">
                        <i class="glyphicon glyphicon-floppy-disk"></i>
                      </span>
                    </th>
                    <th ng-repeat="channel in channels | orderBy:['-status', 'priority','name']">{{ channel.name }}</th>
                    <th width="80"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="role in roles | orderBy:['name']">
                    <td data-title="#{{ $index +1 }}"><span id="counter">{{ $index +1 }}</span></td>
                    <td data-title="Role"><a href="" ng-click="editRole(role)">{{ role.name }}</a></td>
                    <td data-title="Clients">
                      <div width="150">
                        <span width:"120" class="isAllowed columnPaddingForX" ng-repeat="client in clients" ng-mouseover="toggleCloseX(client, role)" ng-mouseleave="toggleCloseX(client, role)" ng-show="roleAssignedToClient(client, role)" ng-click="removeRoleFromClient(client, role)">
                          {{ client.name }} 
                          <span width:"25" class="isNotAllowed" ng-show="closeX[role.name+client.name]"><strong>x</strong></span>
                          <br/>
                        </span>
                      </div>
                      <div ng-show="displayAllClients || displayAssignClients[role.name]">
                        <span class="isNotAllowed" ng-show="!roleAssignedToClient(client, role)" ng-repeat="client in clients" ng-click="assignRoleToClient(client, role)" ng-mouseover="toggleAddPlus(client, role)" ng-mouseleave="toggleAddPlus(client, role)"> 
                          {{client.name}}
                          <span width:"25" class="isAllowed" ng-show="addPlus[role.name+client.name]"><strong>+</strong></span>
                          <br/>
                        </span>
                      </div>
                    </td>
                    <td class="limitChannelTdWidth" ng-repeat="channel in channels">
                      <i ng-show="roleAssignedToChannel(channel._id, role.channels)" class="isAllowed glyphicon glyphicon-ok"></i>
                      <i ng-show="!roleAssignedToChannel(channel._id, role.channels)" class="isNotAllowed glyphicon glyphicon-remove"></i>
                    </td>
                    <td>
                      <button ng-show="chagesIncurred()" class="btn btn-warning btn-xs" ng-click="saveChanges(role, client)"><i class="glyphicon glyphicon-floppy-disk"> Save</i></button>
                      <button class="btn btn-danger btn-xs" ng-click="confirmDddelete(client)"><i class="glyphicon glyphicon-remove"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- show loading gif when scope object empty and no server errors exist -->
            <div class="loadingContainer" ng-show="!(roles || alerts.server)">
              <img src="images/loading.gif" alt="Loading..." />
            </div>

            <!-- Server Alerts -->
            <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
            <!-- Server Alerts -->

            <!-- Bottom Alerts -->
            <alert ng-repeat="alert in alerts.bottom" type="alert.type">{{alert.msg}}</alert>
            <!-- Bottom Alerts -->

            <button class="btn btn-primary" ng-click="addClient()" ng-show="!alerts.server"><i class="glyphicon glyphicon-plus"></i> Role</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
