<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-star-empty"></i>&nbsp;&nbsp;Roles</h2>
            <!-- <pre>{{clientsMirror | json}}</pre> -->
          </div>
        </div>

        <!-- Top Alerts -->
        <alert ng-repeat="alert in alerts.top" type="alert.type">{{alert.msg}}</alert>
        <!-- Top Alerts -->
        <div class="rolesChannelsMatrixDiv">
          <div class="panel-body">
            <div id="no-more-tables">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th width="50">#</th>
                    <th>Role
                      <span class="inTableEditColumn" ng-click="toggleEditRoleNames()">
                        <i class=" cursorPointer glyphicon glyphicon-edit"></i>
                      </span>
                    </th>
                    <th width="150">Clients
                      <span class="inTableEditColumn" ng-click="toggleEditClients()">
                        <i class=" cursorPointer glyphicon glyphicon-edit"></i>
                      </span>
                    </th>
                    <th ng-repeat="channel in channels | orderBy:['-status', 'priority', 'name']">{{ channel.name }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="role in rolesMirror | orderBy:['name']">
                    <td data-title="#{{ $index +1 }}"><span id="counter">{{ $index +1 }}</span></td>
                    <td data-title="Role">
                      <span ng-show="!editRoleNames">{{ role.name }}</span>
                      <input class="input-group" ng-show="editRoleNames" value="{{role.name}}"></input>
                    </td>
                    <td data-title="Clients">
                      <div width="150" ng-repeat="client in clientsMirror">
                        <span width:"120" class="roleAssignedToClientSpan" ng-show="clientRoles[client.name + role.name] && !editClients">{{ client.name }}<br/></span>
                        <span width:"120" class="cursorPointer roleAssignedToClientSpan" ng-show="clientRoles[client.name+role.name] && editClients" ng-click="removeRoleFromClient(client, role)">{{ client.name }} <br/></span>
                        <span width:"120" class="cursorPointer roleNotAssignedToClientSpan" ng-show="!clientRoles[client.name+role.name] && editClients" ng-click="assignRoleToClient(client, role)"> {{client.name}}<br/></span>
                      </div>
                    </td>
                    <td class="limitChannelTdWidth" ng-repeat="channel in channels">
                      <i ng-show="roleAssignedToChannel(channel, role)" class="isAllowed glyphicon glyphicon-ok" ng-click="removeAssignRoleFromChannel(channel, role)"></i>
                      <i ng-show="!roleAssignedToChannel(channel, role)" class="isNotAllowed glyphicon glyphicon-remove" ng-click="assignRoleToChannel(channel, role)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

            <!-- show loading gif when scope object empty and no server errors exist -->
            <div class="loadingContainer" ng-show="!(roles || alerts.server)">
              <img src="images/loading.gif" alt="Loading..." />
            </div>

            <!-- Server Alerts -->
            <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
            <!-- Server Alerts -->

            <!-- Bottom Alerts -->
            <alert ng-repeat="alert in alerts.bottom" type="alert.type">{{alert.msg}}</alert>
            <!-- Bottom Alerts -->

            <button class="btn btn-primary" ng-click="addRole()" ng-show="!alerts.server"><i class="glyphicon glyphicon-plus"></i> Role</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
