<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div class="col-md-10 newUserContainer">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2 ng-if="tokenType === 'newUser'"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;New User - Set Password</h2>
            <h2 ng-if="tokenType === 'existingUser'"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;{{ user.firstname }} {{ user.surname }} - Reset Password</h2>
          </div>
        </div>

        <!-- Top Alerts -->
        <div uib-alert ng-repeat="alert in alerts.top" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
        <!-- Top Alerts -->

        <a ng-show="passwordSetSuccessful" class="btn btn-primary" href="#!/login?email={{user.email}}">Proceed to login screen</a>

        <div class="panel-body">
          <form name="form" ng-submit="submitFormSetPassword()" novalidate ng-show="!alerts.server && !alerts.top && user">

            <div class="form-group has-error-key">
              <span>*</span> Indicates a required field
            </div>

            <fieldset>

              <div class="form-group-2columns" ng-if="tokenType === 'newUser'">
                <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.firstname }">
                  <label><span>*</span> First Name</label>
                  <input class="form-control" type="text" ng-model="user.firstname" focus="{{tokenType === 'newUser'}}" />
                  <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
                </div>
                <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.surname }">
                  <label><span>*</span> Surname</label>
                  <input class="form-control" type="text" ng-model="user.surname" />
                  <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
                </div>
              </div>
              
              <div class="form-group" ng-class="{ 'has-error' : ngError.msisdn }" ng-if="tokenType === 'newUser'">
                <label>
                  Phone number (MSISDN format)
                  <i ng-show="uiSettings.showTooltips" tooltip-placement="top" tooltip-html-unsafe="Accepted format: <br />27123456789 <br />( 5 - 15 digits )" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
                </label>
                <input class="form-control" type="text" ng-model="user.msisdn" />
                <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
              </div>
              
              <div class="form-group-2columns">
                <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.password }">
                  <label><span>*</span> Password</label>
                  <input class="form-control" type="password" ng-model="temp.password" focus="{{tokenType === 'existingUser'}}"/>
                  <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
                </div>
                <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.passwordConfirm }">
                  <label><span>*</span> Confirm password</label>
                  <input class="form-control" type="password" ng-model="temp.passwordConfirm" />
                  <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationPasswordConfirmMsg}}</div>
                </div>
              </div>

            </fieldset>
            
            <button type="submit" class="btn btn-primary" style="float: left;">Save changes</button>

            <!-- hasErrors Alerts -->
            <div uib-alert class="setPasswordHasErrors" ng-repeat="alert in alerts.hasErrors" ng-class="'alert-' + (alert.type || 'warning')">
              <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
            </div>
            <!-- hasErrors Alerts -->
            
          </form>

          <!-- Server Alerts -->
          <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
          <!-- Server Alerts -->

        </div>
      </div>
    </div>
  </div>
</div>
