<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title" style="float: inherit">
            <h2><i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Task #{{task._id}}</h2>
          </div>
        </div>

        <!-- Transaction Alerts -->
        <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
        <!-- Server Alerts -->

        <div class="panel-body" ng-show="task">

          <div class="task-detail-container">
            <div class="data-group">
              <label>ID: </label>
              <div class="data-value">{{task._id}}</div>
            </div>
            <div class="data-group">
              <label>Status: </label>
              <div class="data-value">
                <span ng-if="task.status === 'Completed'" class="label label-success">Completed</span>
                <span ng-if="task.status === 'Processing'" class="label label-warning">Processing</span>
                <span ng-if="task.status === 'Queued'" class="label label-info">Queued</span>
                <span ng-if="task.status === 'Paused'" class="label label-primary">Paused</span>
                <span ng-if="task.status === 'Cancelled'" class="label label-danger">Cancelled</span>
              </div>
            </div>
            <div class="data-group">
              <label>Progress: </label>
              <div class="data-value">
                <uib-progressbar ng-if="task.status === 'Completed'" class="progress-striped" max="task.totalTransactions" animate="false" value="getProcessedTotal(task)" type="success"><i>{{getProcessedPercentage(task)}}</i></uib-progressbar>
                <uib-progressbar ng-if="task.status === 'Processing' || task.status === 'Queued'" class="progress-striped active" max="task.totalTransactions" animate="false" value="getProcessedTotal(task)" type="warning"><i>{{getProcessedPercentage(task)}}</i></uib-progressbar>
                <uib-progressbar ng-if="task.status === 'Paused'" class="progress-striped" max="task.totalTransactions" animate="false" value="getProcessedTotal(task)" type="default"><i>{{getProcessedPercentage(task)}}</i></uib-progressbar>
                <uib-progressbar ng-if="task.status === 'Cancelled'" class="progress-striped" max="task.totalTransactions" animate="false" value="getProcessedTotal(task)" type="danger"><i>{{getProcessedPercentage(task)}}</i></uib-progressbar>
              </div>
            </div>
            <div class="data-group">
              <label>Transactions: </label>
              <div class="data-value">{{getProcessedTotal(task)}} / {{task.totalTransactions}}</div>
            </div>
            <div class="data-group">
              <label>User: </label>
              <div class="data-value">{{task.user}}</div>
            </div>
            <div class="data-group">
              <label>Batch Size: </label>
              <div class="data-value">{{task.batchSize}}</div>
            </div>
            <div class="data-group">
              <label>Created Date: </label>
              <div class="data-value">{{task.created | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
            </div>
            <div class="data-group">
              <label>Completed Date: </label>
              <div class="data-value">{{task.completedDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
            </div>
            <div class="data-group">
              <label>Execution Time: </label>
              <div class="data-value">{{getExecutionTime(task)}} s</div>
            </div>
            <div class="data-group">
              <label>Control Task: </label>
              <div class="data-value">
                <div ng-if="task.status=='Processing' || task.status=='Queued'">
                  <button uib-tooltip="Pause" class="btn btn-warning btn-xs" ng-click="pauseTask(task)"><i class="glyphicon glyphicon-pause"></i></button>
                  <button uib-tooltip="Cancel" class="btn btn-danger btn-xs" ng-click="cancelTask(task)"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
                <div ng-if="task.status=='Paused'">
                  <button uib-tooltip="Resume" class="btn btn-success btn-xs" ng-click="resumeTask(task)"><i class="glyphicon glyphicon-play"></i></button>
                  <button uib-tooltip="Cancel" class="btn btn-danger btn-xs" ng-click="cancelTask(task)"><i class="glyphicon glyphicon-remove"></i></button>
                </div>
              </div>
            </div>
            <div class="data-group">
              <label>Original Transactions: </label>

              <!-- Filter options -->
              <div class="transaction-filter-options">

                <uib-tabset class="transaction_settings_tabset" justified="false">
                  <uib-tab heading="Filter Settings">
                    <div class="auditFilterDiv">
                      <label class="auditFilterDivLabel">Basic Filters: </label>
                      <div class="settings_div" style="float: left; margin-right: 15px;">
                        <label>Processing Status: </label>
                        <select class="form-control" 
                          ng-model="filters.tstatus" 
                          ng-class="{formControlNotEmpty: filters.tstatus}"
                          ng-change="applyFiltersToUrl()">
                          <option value="">Don't filter</option>
                          <option value="Queued">Show Queued</option>
                          <option value="Processing">Show Processing</option>
                          <option value="Failed">Show Failed</option>
                          <option value="Completed">Show Completed</option>
                        </select>
                      </div>
                      <div class="settings_div" style="float: left; margin-right: 15px;">
                        <label>Rerun Status: </label>
                        <select class="form-control" 
                          ng-model="filters.rerunStatus" 
                          ng-class="{formControlNotEmpty: filters.rerunStatus}"
                          ng-change="applyFiltersToUrl()">
                          <option value="">Don't filter</option>
                          <option value="Failed">Show Failed</option>
                          <option value="Processing">Show Processing</option>
                          <option value="Completed">Show Completed</option>
                          <option value="Completed with error(s)">Show Completed with error(s)</option>
                          <option value="Successful">Show Successful</option>
                        </select>
                      </div>
                      <div class="settings_div" style="float: left; margin-right: 15px;">
                        <label>Has Errors: </label>
                        <select class="form-control" 
                          ng-model="filters.hasErrors" 
                          ng-class="{formControlNotEmpty: filters.hasErrors}"
                          ng-change="applyFiltersToUrl()">
                          <option value="">Don't filter</option>
                          <option value="yes">Yes</option>
                          <option value="no">No</option>
                        </select>
                      </div>
                      <div class="settings_div" style="float: left;">
                        <label>
                          Limit: 
                          <i ng-show="uiSettings.showTooltips" tooltip-placement="top" uib-tooltip="Set the limit of how many records to display" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
                        </label>
                        <select class="form-control" 
                          ng-model="filters.limit" 
                          ng-change="applyFiltersToUrl()"
                          ng-options="limit as limit for limit in limits"
                          >
                        </select>
                      </div>
                    </div>
                    <div class="transactionsFilterRefreshDiv">
                      <button class="btn btn-primary" ng-click="clearFilters();"><i class="glyphicon glyphicon-remove"></i> Clear Filters</button>
                    </div>
                  </uib-tab>
                  <uib-tab heading="List Settings">
                    <div class="settings_div">
                      <label style="float: left">
                        Transaction View
                        <i ng-show="uiSettings.showTooltips" tooltip-placement="top" uib-tooltip="Set whether a task transaction opens in the 'Same Tab' or in a 'New Tab'" class="glyphicon glyphicon-question-sign tooltip-wide"></i>
                      </label>
                      <div class="btn-group" style="float: left; clear: both;">
                        <label class="btn btn-primary" ng-model="settings.list.tabview" uib-btn-radio="'same'">Same Tab</label>
                        <label class="btn btn-primary" ng-model="settings.list.tabview" uib-btn-radio="'new'">New Tab</label>
                      </div>
                    </div>
                  </uib-tab>
                </uib-tabset>
              </div>
              

              <div ng-if="totalFilteredTransactions > showlimit" style="display: inline-block; margin-bottom: 5px;">
                <h4>Pagination: </h4>
                <div ng-repeat="page in pagesArray" 
                  class="paginationBtn" 
                  ng-class="{paginationBtnActive: page.status}"
                  ng-click="setPagination( page.pageNum )">
                  {{page.pageNum}}
                </div>
              </div>



              <div class="data-value">
                <div id="no-more-tables">
                  <!-- Table with all the transaction logs -->
                    
                  <!-- If no transactions for the current filters - totalFilteredTransactions doesnt exist -->
                  <div uib-alert ng-if="!totalFilteredTransactions" type="Warning">No transactions for your current filters</div>

                  <table class="table table-striped" ng-if="totalFilteredTransactions">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>ID</th>
                        <th>Processing Status</th>
                        <th>Error</th>
                        <th>Rerun ID</th>
                        <th>Rerun Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="transaction in task.transactions">
                      	<td data-title="#{{ $index + pageIndexBase + 1 }}">{{ $index + pageIndexBase + 1 }}</td>
                        <td data-title="ID"><span class="taskTransactionLink" ng-click='viewTransactionDetails("transactions/" + transaction.tid)'>{{ transaction.tid }}</span></td>
                        <td data-title="Status">
                          <span ng-if="transaction.tstatus === 'Completed'" class="label label-success">Completed</span>
                          <span ng-if="transaction.tstatus === 'Processing'" class="label label-warning">Processing</span>
                          <span ng-if="transaction.tstatus === 'Queued'" class="label label-info">Queued</span>
                          <span ng-if="transaction.tstatus === 'Failed'" class="label label-danger">Failed</span>
    				            </td>
                        <td data-title="Error">{{ transaction.error }}</td>
                        <td data-title="Rerun ID"><span class="taskTransactionLink" ng-click='viewTransactionDetails("transactions/" + transaction.rerunID)'>{{ transaction.rerunID }}</span></td>
                        <td data-title="Status">
                          <span ng-if="transaction.rerunStatus === 'Successful'" class="label label-success">Successful</span>
                          <span ng-if="transaction.rerunStatus === 'Completed'" class="label label-success">Completed</span>
                          <span ng-if="transaction.rerunStatus === 'Processing'" class="label label-info">Processing</span>
                          <span ng-if="transaction.rerunStatus === 'Completed with error(s)'" class="label label-warning">Completed with error(s)</span>
                          <span ng-if="transaction.rerunStatus === 'Failed'" class="label label-danger">Failed</span>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <div ng-if="totalFilteredTransactions > showlimit" style="display: inline-block; margin-bottom: 5px;">
                <h4>Pagination: </h4>
                <div ng-repeat="page in pagesArray" 
                  class="paginationBtn" 
                  ng-class="{paginationBtnActive: page.status}"
                  ng-click="setPagination( page.pageNum )">
                  {{page.pageNum}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
