<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title" style="float: inherit">
            <h2>
              <i ng-if="transactionDetails.childIDs.length == 0" class="glyphicon glyphicon-tasks"></i>
              <i ng-if="transactionDetails.childIDs.length > 0" class="glyphicon glyphicon-repeat"></i>
              &nbsp;Transaction #{{transactionDetails._id}}</h2>
          </div>
        </div>

        <!-- Transaction Alerts -->
        <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
        <!-- Server Alerts -->

        <div class="panel-body" ng-show="transactionDetails">
          <!-- div to hold any child transactions if any -->
          <div class="rerunTransactionsDiv">
            <button ng-if="childTransactions.length >= 1" class="btn btn-primary" data-toggle="collapse" data-target="#no-more-tables">View all rerun transactions</button> 
            <button ng-if="transactionDetails.parentID" class="btn btn-primary" ng-click='viewTransactionDetails("/transactions/" + transactionDetails.parentID)'>View Original Transaction</button>
          </div>

          <div class="buttons-container">
            <button class="btn btn-primary" ng-if="rerunAllowed && transactionDetails.canRerun" ng-click="confirmRerunTransactions();">Re-run Transaction</button>
            <div style="font-size: 16px; display: block;" ng-if="!transactionDetails.canRerun" class="label label-danger">
              RERUN NOT POSSIBLE!<br />
              Method is either POST/PUT/PATCH and Request Body not saved!
            </div>
          </div>

          <div id="no-more-tables" class="collapse" style="width: 100%; clear: both;">
            <!-- Table with all the transaction logs -->
            <table class="table table-striped rerunTransactionsTable">
              <thead>
                <tr>
                  <th>#</th>
                  <th>HTTP Method</th>
                  <th>Host</th>
                  <th>Port</th>
                  <th>Path</th>
                  <th>Request Params</th>
                  <th>Status</th>
                  <th>Request Time</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-list" ng-repeat="childTransaction in childTransactions" ng-click='viewTransactionDetails("/transactions/" + childTransaction._id, $event)'>
                  <td data-title="# {{ $index +1 }}" class="responsiveTransactionIndexCheckbox"><span>{{ $index +1 }}</span></td>
                  <td data-title="HTTP Method">{{ childTransaction.request.method }}</td>
                  <td data-title="Host">{{ childTransaction.request.host }}</td>
                  <td data-title="Port">{{ childTransaction.request.port }}</td>
                  <td data-title="Path">{{ childTransaction.request.path }}</td>
                  <td data-title="Request Params">{{ childTransaction.request.querystring }}</td>
                  <td data-title="Status">{{ childTransaction.status }}</td>
                  <td data-title="Request Time">{{ childTransaction.request.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div class="transaction-detail-container">
            <div class="data-group">
              <label>ID: </label>
              <div class="data-value">{{transactionDetails._id}}</div>
            </div>
            <div class="data-group">
              <label>Status: </label>
              <div class="data-value">{{transactionDetails.status}}</div>
            </div>
            <div class="data-group">
              <label>Channel: </label>
              <div class="data-value">{{channel.name}}</div>
            </div>
            <div class="data-group" ng-if="client">
              <label>Authorized Client: </label>
              <div class="data-value">{{client.name}}</div>
            </div>

            <tabset class="transaction_details_tabset" justified="false" style="  margin: 20px 0px 0px 0px; display: inline-block; width: 100%;">
              <tab>
                <tab-heading style="font-weight: bold;">Request</tab-heading>

                <div style="width: 100%; display: inline-block; background: #fff; padding: 10px;">
                  
                  <div class="data-group left-indent">
                    <label>Host: </label>
                    <div class="data-value">{{transactionDetails.request.host}}</div>
                  </div>
                  <div class="data-group left-indent">
                    <label>Port: </label>
                    <div class="data-value">{{transactionDetails.request.port}}</div>
                  </div>
                  <div class="data-group left-indent">
                    <label>Path: </label>
                    <div class="data-value">{{transactionDetails.request.path}}</div>
                  </div>
                  <div class="data-group left-indent">
                    <label>Parameters: </label>
                    <div class="data-value">{{transactionDetails.request.querystring}}</div>
                  </div>
                  <div class="data-group left-indent">
                    <label>HTTP Method: </label>
                    <div class="data-value">{{transactionDetails.request.method}}</div>
                  </div>
                  <div class="data-group left-indent">
                    <label>Timestamp: </label>
                    <div class="data-value">{{transactionDetails.request.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
                  </div>
                  <div class="data-group left-indent">
                    <label>Headers: </label>
                    <div class="data-value showHideNoPadding">
                      <table class=" collapse" id="requestHeaders{{transactionDetails._id}}">
                        <tr ng-repeat="(key, property) in transactionDetails.request.headers">
                          <td class="headerDetailsTD">{{key}}: </td>
                          <td><strong>{{property}}</strong></td>
                        </tr>
                      </table>
                      <a class="showHideHeadersBtn" data-toggle="collapse" data-target="#requestHeaders{{transactionDetails._id}}">Show/Hide Headers</a>            
                    </div>
                  </div>

                  <div ng-if="transactionDetails.request.body" style="display: inline-block; width: 100%; margin-top: 15px;">
                    <label>Body: </label>
                    <div class="data-group">
                      <div class="data-value">
                        <div ng-if="requestTransformLang" class="hljsFormat" hljs source="transactionDetails.request.body" language="{{requestTransformLang}}"></div>
                        <div ng-if="!requestTransformLang" class="hljsFormatNone">{{transactionDetails.request.body}}</div>
                        <button style="float: right; margin-top: 10px;" class="btn btn-primary" ng-click="viewBodyDetails('Request', transactionDetails.request.body, transactionDetails.request.headers);">View Full Request Body</button>
                      </div>
                    </div>
                  </div>
                </div>
              </tab>

              <tab>
                <tab-heading style="font-weight: bold;">Response</tab-heading>
                <div>

                  <div style="width: 100%; display: inline-block; background: #fff; padding: 10px;">
                    <div class="data-group left-indent">
                      <label>Status: </label>
                      <div class="data-value">{{transactionDetails.response.status}}</div>
                    </div>
                    <div class="data-group left-indent">
                      <label>Timestamp: </label>
                      <div class="data-value">{{transactionDetails.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
                    </div>
                    <div class="data-group left-indent">
                      <label>Headers: </label>
                      <div class="data-value showHideNoPadding">
                        <table class=" collapse" id="responseHeaders{{transactionDetails._id}}">
                          <tr ng-repeat="(key, property) in transactionDetails.response.headers">
                            <td class="headerDetailsTD">{{key}}: </td>
                            <td><strong>{{property}}</strong></td>
                          </tr>
                        </table>
                        <a class="showHideHeadersBtn" data-toggle="collapse" data-target="#responseHeaders{{transactionDetails._id}}">Show/Hide Headers</a>            
                      </div>
                    </div>

                    <div ng-if="transactionDetails.response.body" style="display: inline-block; width: 100%; margin-top: 15px;">
                      <label>Body:</label>
                      <div class="data-group">
                        <div class="data-value">
                          <div ng-if="responseTransformLang" class="hljsFormat" hljs source="transactionDetails.response.body" language="{{responseTransformLang}}"></div>
                          <div ng-if="!responseTransformLang" class="hljsFormatNone">{{transactionDetails.response.body}}</div>
                          <button style="float: right; margin-top: 10px;" class="btn btn-primary" ng-click="viewBodyDetails('Response', transactionDetails.response.body, transactionDetails.response.headers);">View Full Response Body</button>
                        </div>
                      </div>
                    </div>



                    <div ng-show="transactionDetails.routes" style="display: inline-block; width: 100%">
                      <label>Routes: </label>
                      <div id="no-more-tables" class="data-group">
                        <div class="data-value">
                          <!-- Table with all the Routes logs -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Route</th>
                                <th>Method</th>
                                <th>Host</th>                      
                                <th>Port</th>                      
                                <th>Path</th>                      
                                <th>Request Params</th>
                                <th>Status</th>
                                <th>Response Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-list" ng-repeat="route in transactionDetails.routes" ng-click='viewAddReqResDetails(route)'>
                                <td data-title="Route">{{ route.name }}</td>
                                <td data-title="Method">{{ route.request.method }}</td>
                                <td data-title="Host">{{ route.request.host }}</td>
                                <td data-title="Port">{{ route.request.port }}</td>
                                <td data-title="Path">{{ route.request.path }}</td>
                                <td data-title="Request Params">{{ route.request.querystring }}</td>
                                <td data-title="Status">{{ route.response.status }}</td>
                                <td data-title="Response Time">{{ route.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>

                    <div ng-show="transactionDetails.orchestrations" style="display: inline-block; width: 100%">
                      <label>Orchestrations: </label>
                      <div id="no-more-tables" class="data-group">
                        <div class="data-value">
                          <!-- Table with all the orchestrations -->
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Method</th>
                                <th>Host</th>                      
                                <th>Port</th>                      
                                <th>Path</th>                      
                                <th>Request Params</th>
                                <th>Status</th>
                                <th>Response Time</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="table-list" ng-repeat="orchestration in transactionDetails.orchestrations" ng-click='viewAddReqResDetails(orchestration)'>
                                <td data-title="Name">{{ orchestration.name }}</td>
                                <td data-title="Method">{{ orchestration.request.method }}</td>
                                <td data-title="Host">{{ orchestration.request.host }}</td>
                                <td data-title="Port">{{ orchestration.request.port }}</td>
                                <td data-title="Path">{{ orchestration.request.path }}</td>
                                <td data-title="Request Params">{{ orchestration.request.querystring }}</td>
                                <td data-title="Status">{{ orchestration.response.status }}</td>
                                <td data-title="Response Time">{{ orchestration.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>


                    <div ng-show="transactionDetails.properties" style="display: inline-block; width: 100%">
                      <label>Properties: </label>
                      <div class="data-group">
                        <div class="data-value">
                          <div class="content-box-large default-labels-box" style="margin-right: 10px;" ng-repeat="(key, property) in transactionDetails.properties">
                            {{key}}: <strong>{{property}}</strong>
                          </div>  
                        </div>
                      </div>
                    </div>



                  </div>

                </div>
              </tab>
            </tabset>
            
          </div>          
        </div>
      </div>
    </div>
  </div>
</div>