<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h3 class="modal-title"><i class="glyphicon glyphicon-repeat"></i>&nbsp;&nbsp;Transactions Rerun Confirmation</h3>
</div>
<form name="form" novalidate>
  <div class="modal-body">

    <div ng-if="rerunSuccess != true">
      <h4 ng-show="transactionsSelected.length === 0">You have not selected any transactions to be rerun. <br /><br /> 
      Please select the transactions you wish to rerun by ticking the boxes on the left and try again</h4>

      <h4 ng-show="transactionsSelected.length > 0">
        <div ng-show="transactionsSelected.length === 1" style="margin-bottom: 15px;">You have selected that transaction <strong>#{{transactionsSelected[0]}}</strong> should be rerun. </div>
        <div ng-show="transactionsSelected.length > 1" style="margin-bottom: 15px;">You have selected a total of <strong>{{transactionsSelected.length}}</strong> transactions to be rerun. </div>

        <!-- Rerun Alerts -->
        <alert ng-repeat="alert in alerts.rerun" type="alert.type">{{alert.msg}}</alert>
        <!-- Rerun Alerts -->

        <div>Are you sure you wish to proceed with this operation?</div>
      </h4>
    </div>
    
    <div ng-if="rerunSuccess === true">
      <h4 ng-show="transactionsSelected.length === 1">Your selected transaction has been added to the queue to be rerun.</h4>
      <h4 ng-show="transactionsSelected.length > 1">Your selected transactions have been added to the queue to be rerun.</h4>
    </div>      

  </div>
  <div class="modal-footer">
    <div ng-show="transactionsSelected.length > 1" ng-if="rerunSuccess != true" style="float: left;">
      <label style="float: left; margin: 10px 10px 0px 0px;" tooltip="The number of transactions that the task processor should run concurrently">Batch size</label>
      <select style="float: left; width: auto;" class="form-control" ng-model="taskSetup.batchSize">
        <option value="1">One at a time</option>
        <option ng-if="transactionsSelected.length >= 2" value="2">2</option>
        <option ng-if="transactionsSelected.length >= 4" value="4">4</option>
        <option ng-if="transactionsSelected.length >= 8" value="8">8</option>
        <option ng-if="transactionsSelected.length >= 16" value="16">16</option>
        <option ng-if="transactionsSelected.length >= 32" value="32">32</option>
      </select>
    </div>

    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="confirmRerun(batchSize)" ng-show="transactionsSelected.length > 0" ng-if="rerunSuccess != true">Confirm Batch Rerun</button>
  </div>
</form>
