<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

		<div class="content-box-large">
			<div class="panel-heading">
				<div class="panel-title">Transactions Log</div>
			</div>
			<div class="panel-body">

            <!-- Filter options -->
				<table class="transaction-filter-options">
					<tr>
						<td>
				            <label tooltip="Select an option to filter transactions by their status">Status: </label>
                            <select id="filterStatus" class="form-control" ng-model="filter.status">
                                <option value="">Don't filter</option>
                                <option value="Failed">Show Failed</option>
                                <option value="Processing">Show Processing</option>
                                <option value="Completed">Show Completed</option>
                            </select>
						</td>
						<td>
    				        <label tooltip="Select an option to filter transactions by their endpoint">Endpoint: </label>
                            <select id="filterEndpoint" class="form-control" ng-model="filter.endpoint">
                                <option value="">Don't filter</option>
                                <option value="">Save patient Encounter</option>
                                <option value="">Query Prev Patient Encounter</option>
                                <option value="">Get Patient</option>
                                <option value="">Query Patients</option>
                            </select>
						</td>
                        <td>
                            <label tooltip="Select a start and end date to filter transactions be date">Date Range: </label>

                            <!-- Date range picker functionality -->
                            <link rel="stylesheet" href="styles/datepicker.css">
                            <!-- Load jQuery and bootstrap datepicker scripts -->
                            <script src="scripts/bootstrap-datepicker.js"></script>
                            <script type="text/javascript">
                                // When the document is ready
                                $(document).ready(function () {                            
                                    $('.input-daterange').datepicker({
                                        todayBtn: "linked",
                                        format: 'yyyy-mm-dd'
                                    });                        
                                });
                            </script>
                        
                            <div class="input-daterange input-group" id="datepicker" style="width: 300px" >
                                <input id="filterDateStart" type="text" class="form-control" name="start" />
                                <span class="input-group-addon">to</span>
                                <input id="filterDateEnd" type="text" class="form-control" name="end" />
                            </div>                            
                            <!-- Date range picker functionality -->

                        </td>					
						<td valign="top" align="right">
                            <button class="btn btn-primary" ng-click="refreshTransactionsList();"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
                        </td>
					</tr>
				</table>

                <style>
                #table-wrapper table thead th .text {
                  position:absolute;   
                  top:-20px;
                  z-index:2;
                  height:20px;
                  width:35%;
                  border:1px solid red;
                }
                </style>

                <!-- Table with all the transaction logs -->
				<table class="table table-striped">
					<thead>
						<tr>
							<th>#</th>
							<th>HTTP Method</th>
							<th>Path</th>
							<th>Request Params</th>
							<th>Status</th>
							<th>Received Time</th>
						</tr>
					</thead>
					<tbody>
						<tr class="transactions-list" ng-repeat="transaction in transactions" ng-click='viewTransactionDetails("/transactions/" + transaction._id)'>
							<td>{{ $index +1 }}</td>
							<td>{{ transaction.request.method }}</td>
							<td>{{ transaction.request.path }}</td>
							<td>{{ transaction.request.requestParams }}</td>
							<td>{{ transaction.status }}</td>
							<td>{{ transaction.request.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
						</tr>
                        <tr>
                            <td colspan="6">
                                <button id="loadMoreTransactions" class="btn btn-primary" ng-click="loadMoreTransactions();"><i class="glyphicon glyphicon-refresh"></i> Load {{showlimit}} more results</button>

                                <alert style="margin-top: 20px; margin-bottom: 0px;" type="alert.type" ng-repeat="alert in alerts" close="closeMsg($index)">{{alert.msg}}</alert>

                            </td>
                        </tr>
					</tbody>
				</table>

			</div>
		</div>

    </div>
</div>