<div class="modal-header">
  <button type="button" class="btn btn-default" ng-click="cancel()" style="float: right;">Close</button>
  <h3 class="modal-title" ng-show="!viewFullBody"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{record.name}}</h3>
  <h3 class="modal-title" ng-show="viewFullBody"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{record.name}}: {{viewFullBodyType}} Body</h3>
</div>

<div class="modal-body" style="width: 100%; display: inline-block;">

  <div class="row" ng-show="!viewFullBody">
    <!-- Request, left -->
    <div class="col-md-6">
      <div class="panel panel-default sml-margin transaction-req-res-height">
        <div class="panel-heading">
          <h3 class="panel-title">Request</h3>
        </div>
        <div class="panel-body">

          <h4>
            <div ng-if="channel">
              <span class="label label-default" ng-if="channel.type === 'http'">{{record.request.method}}</span>
              <span class="label label-danger" ng-if="channel.type !== 'http'">{{channel.type | uppercase}}</span>
              <span>{{ record.request.host }}</span><span ng-if="record.request.port">{{ ':' + record.request.port }}</span><span ng-if="channel.type === 'http'">{{ record.request.path }}</span><span ng-if="record.request.querystring && channel.type === 'http'">{{ '?' + record.request.querystring }}</span>
            </div>
            <!-- Assume its HTTP, can't do much else -->
            <div ng-if="!channel">
              <span class="label label-default">{{record.request.method}}</span>
              <span>{{ record.request.host }}</span><span ng-if="record.request.port">{{ ':' + record.request.port }}</span><span>{{ record.request.path }}</span><span ng-if="record.request.querystring">{{ '?' + record.request.querystring }}</span>
            </div>
          <h6 class="subtitle"><em>Received at {{record.request.timestamp | date:'yyyy-MM-dd HH:mm:ss.sss Z'}}</em></h6>

          <a data-toggle="collapse" href="#popup-req-headers-table" ng-if="channel.type === 'http'">Show Headers <i class="glyphicon glyphicon-chevron-down"></i></a>
          <div id="popup-req-headers-table" class="panel panel-default collapse">
            <div class="panel-body">
              <table class="table-condensed table-borderless">
                <tr ng-repeat="(key, property) in record.request.headers">
                  <th>{{key}}: </th>
                  <td>{{property}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div ng-if="record.request.body" style="display: inline-block; width: 100%; margin-top: 15px;">
            <h4>Request body</h4>
            <div class="hljsFormat" hljs source="record.request.body"></div>
            <transaction-body-downloader transaction-id="transactionId" path="recordPathRequest" style="margin-top: 10px;" class="pull-right"></transaction-body-downloader>
            <button style="margin-top: 10px;" class="btn btn-primary pull-right" ng-click="toggleFullView('Request', record.request.body, record.request.headers);" uib-tooltip="Expand body details"><i class="glyphicon glyphicon-resize-full"></i></button>
          </div>
          <div ng-if="(record.request.method === 'POST' || record.request.method === 'PUT') && !record.request.body" style="display: inline-block; width: 100%; margin-top: 15px;">
            <h4>Request body not stored, it is the same as the primary route</h4>
          </div>
        </div>
      </div>
    </div>

    <!-- Response, right -->
    <div class="col-md-6" ng-if="record.response">
      <div class="panel panel-default sml-margin transaction-req-res-height">
        <div class="panel-heading">
          <h3 class="panel-title">Response</h3>
        </div>
        <div class="panel-body">
          <div ng-if="channel"><h4>
            <span class="label label-danger" ng-if="channel.type !== 'http'">{{channel.type | uppercase}}</span>
            <span ng-if="channel.type === 'http'">Status code
              <span ng-if="record.response.status >= 200 && record.response.status < 300" class="label label-success">{{record.response.status}}</span>
              <span ng-if="record.response.status >= 300 && record.response.status < 400" class="label label-primary">{{record.response.status}}</span>
              <span ng-if="record.response.status >= 400 && record.response.status < 500" class="label label-warning">{{record.response.status}}</span>
              <span ng-if="record.response.status >= 500 && record.response.status < 600" class="label label-danger">{{record.response.status}}</span>
            </span>
            <span ng-if="record.error" class="label label-warning">Internal Server Error</span>
          </h4></div>
          <!-- Assume its HTTP, can't do much else -->
          <div ng-if="!channel">
            <h4>Status code
              <span ng-if="record.response.status >= 200 && record.response.status < 300" class="label label-success">{{record.response.status}}</span>
              <span ng-if="record.response.status >= 300 && record.response.status < 400" class="label label-primary">{{record.response.status}}</span>
              <span ng-if="record.response.status >= 400 && record.response.status < 500" class="label label-warning">{{record.response.status}}</span>
              <span ng-if="record.response.status >= 500 && record.response.status < 600" class="label label-danger">{{record.response.status}}</span>
            </h4>
          </div>
          <h6 class="subtitle"><em>Received at {{record.response.timestamp | date:'yyyy-MM-dd HH:mm:ss.sss Z'}}</em></h6>

          <a data-toggle="collapse" href="#popup-res-headers-table" ng-if="channel.type === 'http'">Show Headers <i class="glyphicon glyphicon-chevron-down"></i></a>
          <div id="popup-res-headers-table" class="panel panel-default collapse">
            <div class="panel-body">
              <table class="table-condensed table-borderless">
                <tr ng-repeat="(key, property) in record.response.headers">
                  <th>{{key}}: </th>
                  <td>{{property}}</td>
                </tr>
              </table>
            </div>
          </div>

          <div ng-if="record.response.body" style="display: inline-block; width: 100%; margin-top: 15px;">
            <h4>Response body</h4>
            <div class="hljsFormat" hljs source="record.response.body"></div>
            <transaction-body-downloader transaction-id="transactionId" path="recordPathResponse" style="margin-top: 10px;" class="pull-right"></transaction-body-downloader>
            <button style="margin-top: 10px;" class="btn btn-primary pull-right" ng-click="toggleFullView('Response', record.response.body, record.response.headers);" uib-tooltip="Expand body details"><i class="glyphicon glyphicon-resize-full"></i></button>
          </div>
          <div ng-if="record.error" style="display: inline-block; width: 100%; margin-top: 15px;">
            <h4>Internal Error<i ng-show="uiSettings.showTooltips" uib-tooltip="An internal error occurred that prevented the OpenHIM from sending the transaction" class="glyphicon glyphicon-question-sign tooltip-wide iconInHeader"></i></h4>
            <div class="hljsFormat" hljs source="record.error.message"></div>
            <button style="margin-top: 10px;" class="btn btn-primary pull-right" ng-click="toggleFullView('Error', record.error.stack);">View Error Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="route-detail-container" ng-show="viewFullBody">
    <div class="data-group left-indent">
      <div class="data-value" style="padding-left: 0">
        <div class="hljsFormat hljsFormatFull" hljs source="viewFullBodyContent"></div>
      </div>
    </div>
    <!-- show only if full body is show -->
    <button ng-if="viewFullBody" type="button" class="btn btn-primary" ng-click="toggleFullView()" style="float: right; margin-top: 10px;">
      <span><i class="glyphicon glyphicon-resize-small"></i></span>
    </button>
  </div>

</div>
