<div class="modal-header">
  <button type="button" class="btn btn-default" ng-click="cancel()" style="float: right;">Close</button>
  <h3 class="modal-title" ng-show="!viewFullBody"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{record.name}}</h3>
  <h3 class="modal-title" ng-show="viewFullBody"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;{{record.name}}: {{viewFullBodyType}} Body</h3>
</div>

<div class="modal-body" style="width: 100%; display: inline-block;">
  <tabset ng-show="!viewFullBody" class="transaction_details_tabset route-detail-container" justified="false" style="  margin: 0px; display: inline-block; width: 100%;">
    <tab>
      <tab-heading>Request</tab-heading>
      <div style="width: 100%; display: inline-block; background: #fff; padding: 10px;">
        <div class="data-group left-indent">
          <label>Path: </label>
          <div class="data-value">{{record.request.path}}</div>
        </div>
        <div class="data-group left-indent">
          <label>Parameters: </label>
          <div class="data-value">{{record.request.querystring}}</div>
        </div>
        <div class="data-group left-indent">
          <label>HTTP Method: </label>
          <div class="data-value">{{record.request.method}}</div>
        </div>
        <div class="data-group left-indent">
          <label>Timestamp: </label>
          <div class="data-value">{{record.request.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
        </div>
        <div class="data-group left-indent">
          <label>Headers: </label>
          <div class="data-value showHideNoPadding">
            <table class=" collapse" id="requestHeaders{{record._id}}">
              <tr ng-repeat="(key, property) in record.request.headers">
                <td class="headerDetailsTD">{{key}}: </td>
                <td><strong>{{property}}</strong></td>
              </tr>
            </table>
            <a class="showHideHeadersBtn" data-toggle="collapse" data-target="#requestHeaders{{record._id}}">Show/Hide Headers</a>            
          </div>
        </div>

        <div ng-if="record.request.body" style="display: inline-block; width: 100%">
          <label class="data-group"><label>Body: </label></label>
          <div class="data-group">
            <div class="data-value">
              <div class="data-value">
                <div ng-if="requestTransformLang" class="hljsFormat" hljs source="record.request.body" language="{{requestTransformLang}}" style="max-height: 350px;"></div>
                <div ng-if="!requestTransformLang" class="hljsFormatNone" style="max-height: 350px;">{{record.request.body}}</div>
              </div>
              <!-- show only if record has request body -->
              <button type="button" class="btn btn-primary" ng-click="toggleFullView('Request', record.request.body, requestTransformLang)" style="float: right; margin-top: 10px;">
                <span ng-show="!viewFullBody">View Full Request Body</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </tab>

    <tab>
      <tab-heading>Response</tab-heading>
      <div>
        <div style="width: 100%; display: inline-block; background: #fff; padding: 10px;">
          <div class="data-group left-indent">
            <label>Status: </label>
            <div class="data-value">{{record.response.status}}</div>
          </div>
          <div class="data-group left-indent">
            <label>Timestamp: </label>
            <div class="data-value">{{record.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z'}}</div>
          </div>
          <div class="data-group left-indent">
            <label>Headers: </label>
            <div class="data-value showHideNoPadding">
              <table class=" collapse" id="responseHeaders{{record._id}}">
                <tr ng-repeat="(key, property) in record.response.headers">
                  <td class="headerDetailsTD">{{key}}: </td>
                  <td><strong>{{property}}</strong></td>
                </tr>
              </table>
              <a class="showHideHeadersBtn" data-toggle="collapse" data-target="#responseHeaders{{record._id}}">Show/Hide Headers</a>            
            </div>
          </div>

          <div ng-if="record.response.body" style="display: inline-block; width: 100%">
            <label>Body:</label>
            <div class="data-group">
              <div class="data-value">
                <div ng-if="responseTransformLang" class="hljsFormat" hljs source="record.response.body" language="{{responseTransformLang}}" style="max-height: 350px;"></div>
                <div ng-if="!responseTransformLang" class="hljsFormatNone" style="max-height: 350px;">{{record.response.body}}</div>
              </div>
              <!-- show only if record has response body -->
              <button type="button" class="btn btn-primary" ng-click="toggleFullView('Response', record.response.body, responseTransformLang)" style="float: right; margin-top: 10px;">
                <span>View Full Response Body</span>
              </button>
            </div>
          </div>

          <div ng-show="record.orchestrations" style="display: inline-block; width: 100%">
            <label>Orchestrations: </label>
            <div id="no-more-tables" class="data-group">
              <div class="data-value">
              <!-- Table with all the orchestrations -->
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Method</th>
                    <th>Path</th>                      
                    <th>Request Params</th>
                    <th>Status</th>
                    <th>Response Time</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-list" ng-repeat="orchestration in record.orchestrations" ng-click='viewAddReqResDetails(orchestration)'>
                    <td data-title="Name">{{ orchestration.name }}</td>
                    <td data-title="Method">{{ orchestration.request.method }}</td>
                    <td data-title="Path">{{ orchestration.request.path }}</td>
                    <td data-title="Request Params">{{ orchestration.request.querystring }}</td>
                    <td data-title="Status">{{ orchestration.response.status }}</td>
                    <td data-title="Response Time">{{ orchestration.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            </div>
          </div>

          <div ng-show="record.properties" style="display: inline-block; width: 100%">
            <label>Properties: </label>
            <div class="data-group">
              <div class="data-value">
                <div class="content-box-large default-labels-box" ng-repeat="(key, property) in record.properties">
                  {{key}}: <strong>{{property}}</strong>
                </div>  
              </div>
            </div>
          </div>
        </div>
      </div>
    </tab>
  </tabset>

  <div class="route-detail-container" ng-show="viewFullBody">
    <div class="data-group left-indent">
      <div class="data-value" style="padding-left: 0">
        <div ng-if="fullBodyTransformLang" class="hljsFormat hljsFormatFull" hljs source="viewFullBodyContent" language="{{fullBodyTransformLang}}"></div>
        <div ng-if="!fullBodyTransformLang" class="hljsFormatNone hljsFormatNoneFull">{{viewFullBodyContent}}</div>
      </div>
    </div>
    <!-- show only if full body is show -->
    <button ng-if="viewFullBody" type="button" class="btn btn-primary" ng-click="toggleFullView()" style="float: right; margin-top: 10px;">
      <span>View Details</span>
    </button>
  </div>

</div>