<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>

    <div class="col-md-10">

      <div class="content-box-large">
        <!-- Heading -->
        <div class="panel-heading">
          <div class="panel-title">
            <h2>
              <i ng-if="transactionDetails.childIDs.length == 0" class="glyphicon glyphicon-tasks"></i>
              <i ng-if="transactionDetails.childIDs.length > 0" class="glyphicon glyphicon-repeat" title="Has been rerun"></i>
              <i ng-if="transactionDetails.parentID" class="glyphicon glyphicon-refresh" title="Is a rerun transaction"></i>
              &nbsp;Transaction details</h2>
          </div>
        </div>

        <!-- Transaction Alerts -->
        <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>

        <!-- Transaction details -->
        <div class="panel-body" ng-show="transactionDetails">

          <div class="row">
            <!-- summary details, left -->
            <div class="col-md-6">
              <table class="table-condensed table-borderless transactionsSummary">
                <tr>
                  <th>ID</th>
                  <td>{{transactionDetails._id}}</td>
                </tr>
                <tr>
                  <th>Status</th>
                  <td>
                    <div>
                      <span ng-if="transactionDetails.status === 'Successful'" class="label label-success">Successful</span>
                      <span ng-if="transactionDetails.status === 'Completed'" class="label label-completed">Completed</span>
                      <span ng-if="transactionDetails.status === 'Processing'" class="label label-info">Processing</span>
                      <span ng-if="transactionDetails.status === 'Completed with error(s)'" class="label label-completed-with-errors">Completed with error(s)</span>
                      <span ng-if="transactionDetails.status === 'Failed'" class="label label-danger">Failed</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>Channel</th>
                  <td>{{channel.name}}</td>
                </tr>
                <tr>
                  <th>Authorized Client</th>
                  <td ng-if="client">{{client.name}}</td>
                </tr>
                <tr>
                  <th>Duration</th>
                  <td ng-if="transactionDetails.transactionTime">{{transactionDetails.transactionTime}}</td>
                </tr>
                <tr ng-if="transactionDetails.autoRetryAttempt">
                  <th>Auto Retry Attempt</th>
                  <td>{{transactionDetails.autoRetryAttempt}}</td>
                </tr>
              </table>
            </div>

            <!-- control buttons with rerun tx list, right -->
            <div class="col-md-6">
              <div class="sml-margin">
                <div class="alert alert-danger alert-dismissible" ng-if="!transactionDetails.canRerun" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <strong>Not able to rerun this transaction!</strong> The HTTP method is either POST, PUT or PATCH and request body was not saved.
                </div>
                <button id="rerun-popover" type="button" ng-click="showTransactionsRerun()" ng-show="childTransactions.length >= 1" class="btn btn-default" data-toggle="popover" data-placement="bottom" data-trigger="focus">Show reruns</button>
                <button ng-show="transactionDetails.parentID" class="btn btn-default" ng-click="viewTransactionDetails('/transactions/' + transactionDetails.parentID)">View Original Transaction</button>
                <button class="btn btn-danger" ng-disabled="!rerunAllowed || !transactionDetails.canRerun" ng-click="confirmRerunTransactions();">Re-run Transaction</button>
              </div>

              <div class="sml-margin" ng-show="pagingEnabled === true">
                <div class="btn-group" role="group">
                  <a href="#!/transactions/{{prev}}" role="button" class="btn btn-primary" ng-disabled="prev === null"><i class="glyphicon glyphicon-arrow-left"></i> Prev</a>
                  <a href="#!/transactions/{{next}}" role="button" class="btn btn-primary" ng-disabled="next === null">Next <i class="glyphicon glyphicon-arrow-right"></i></a>
                </div>
                <p class="transactionsSummary">Number {{txNumber}} of {{txTotal}} transaction in the <a href="#{{currFilterURL}}">current filter</a>.</p>
              </div>

              <script type="text/ng-template" id="rerun-table">
                <!-- Table with all rerun the transaction logs -->
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>URL</th>
                      <th>Status</th>
                      <th>Request Time</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-list" ng-repeat="childTransaction in childTransactions">
                      <td data-title="URL" ng-click="viewTransactionDetails('/transactions/' + childTransaction._id, $event)"><span class="label label-default">{{childTransaction.request.method}}</span>{{ ' ' + childTransaction.request.host + ':' + childTransaction.request.port + childTransaction.request.path + childTransaction.request.querystring }}</td>
                      <td data-title="Status" ng-click="viewTransactionDetails('/transactions/' + childTransaction._id, $event)">
                        <div>
                          <span ng-if="childTransaction.status === 'Successful'" class="label label-success">Successful</span>
                          <span ng-if="childTransaction.status === 'Completed'" class="label label-completed">Completed</span>
                          <span ng-if="childTransaction.status === 'Processing'" class="label label-info">Processing</span>
                          <span ng-if="childTransaction.status === 'Completed with error(s)'" class="label label-completed-with-errors">Completed with error(s)</span>
                          <span ng-if="childTransaction.status === 'Failed'" class="label label-danger">Failed</span>
                        </div>
                      </td>
                      <td data-title="Request Time" ng-click="viewTransactionDetails('/transactions/' + childTransaction._id, $event)">{{ childTransaction.request.timestamp | date:'yyyy-MM-dd HH:mm:ss.sss Z' }}</td>
                      <td data-title=""><a href="#!/transactions/{{childTransaction._id}}" target="_blank"><i class="glyphicon glyphicon-new-window"></i></a></td>
                    </tr>
                  </tbody>
                </table>
              </script>
            </div>
          </div>

          <div class="row">
            <!-- Request, left -->
            <div class="col-md-6">
              <div class="panel panel-default sml-margin transaction-req-res-height">
                <div class="panel-heading">
                  <h3 class="panel-title">Request</h3>
                </div>
                <div class="panel-body">

                  <h4>
                    <span class="label label-default" ng-if="channel.type === 'http'">{{transactionDetails.request.method}}</span>
                    <span class="label label-danger" ng-if="channel.type !== 'http'">{{channel.type | uppercase}}</span>
                    <span>{{ transactionDetails.request.host }}</span><span ng-if="transactionDetails.request.port">{{ ':' + transactionDetails.request.port }}</span><span ng-if="channel.type === 'http'">{{ transactionDetails.request.path }}</span><span ng-if="transactionDetails.request.querystring && channel.type === 'http'">{{ '?' + transactionDetails.request.querystring }}</span>
                  <h6 class="subtitle"><em>Received at {{transactionDetails.request.timestamp | date:'yyyy-MM-dd HH:mm:ss.sss Z'}}</em></h6>

                  <a data-toggle="collapse" href="#req-headers-table" ng-if="channel.type === 'http'">Show Headers <i class="glyphicon glyphicon-chevron-down"></i></a>
                  <div id="req-headers-table" class="panel panel-default collapse">
                    <div class="panel-body">
                      <table class="table-condensed table-borderless" style="table-layout: fixed; width: 100%">
                        <tr ng-repeat="(key, property) in transactionDetails.request.headers">
                          <th>{{key}}: </th>
                          <td style="word-wrap: break-word">{{property}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div ng-if="transactionDetails.request.body" style="display: inline-block; width: 100%; margin-top: 15px;">
                    <h4>Request body</h4>
                    <div class="hljsFormat" hljs source="transactionDetails.request.body"></div>
                    <transaction-body-downloader transaction-id="transactionDetails._id" path="'request'" style="margin-top: 10px;" class="pull-right"></transaction-body-downloader>
                    <button style="margin-top: 10px;" class="btn btn-primary pull-right" ng-click="viewBodyDetails('Request', transactionDetails.request.body, transactionDetails.request.headers);" uib-tooltip="View body details"><i class="glyphicon glyphicon-new-window"></i></button>
                  </div>
                </div>
              </div>
            </div>

            <!-- Response, right -->
            <div class="col-md-6" ng-if="transactionDetails.response">
              <div class="panel panel-default sml-margin transaction-req-res-height">
                <div class="panel-heading">
                  <h3 class="panel-title">Response</h3>
                </div>
                <div class="panel-body">

                  <h4>
                    <span class="label label-danger" ng-if="channel.type !== 'http'">{{channel.type | uppercase}}</span>
                    <span ng-if="channel.type === 'http'">Status code
                      <span ng-if="transactionDetails.response.status >= 200 && transactionDetails.response.status < 300" class="label label-success">{{transactionDetails.response.status}}</span>
                      <span ng-if="transactionDetails.response.status >= 300 && transactionDetails.response.status < 400" class="label label-primary">{{transactionDetails.response.status}}</span>
                      <span ng-if="transactionDetails.response.status >= 400 && transactionDetails.response.status < 500" class="label label-warning">{{transactionDetails.response.status}}</span>
                      <span ng-if="transactionDetails.response.status >= 500 && transactionDetails.response.status < 600" class="label label-danger">{{transactionDetails.response.status}}</span>
                    </span>
                    <span ng-if="transactionDetails.error" class="label label-warning">Internal Server Error</span>
                  </h4>
                  <h6 class="subtitle"><em>Received at {{transactionDetails.response.timestamp | date:'yyyy-MM-dd HH:mm:ss.sss Z'}}</em></h6>

                  <a data-toggle="collapse" href="#res-headers-table" ng-if="channel.type === 'http'">Show Headers <i class="glyphicon glyphicon-chevron-down"></i></a>
                  <div id="res-headers-table" class="panel panel-default collapse">
                    <div class="panel-body">
                      <table class="table-condensed table-borderless" style="table-layout: fixed; width: 100%">
                        <tr ng-repeat="(key, property) in transactionDetails.response.headers">
                          <th>{{key}}: </th>
                          <td style="word-wrap: break-word">{{property}}</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div ng-if="transactionDetails.response.body" style="display: inline-block; width: 100%; margin-top: 15px;">
                    <h4>Response body</h4>
                    <div class="hljsFormat" hljs source="transactionDetails.response.body"></div>
                    <transaction-body-downloader transaction-id="transactionDetails._id" path="'response'" style="margin-top: 10px;" class="pull-right"></transaction-body-downloader>
                    <button style="margin-top: 10px;" class="btn btn-primary pull-right" ng-click="viewBodyDetails('Response', transactionDetails.response.body, transactionDetails.response.headers);" uib-tooltip="View body details"><i class="glyphicon glyphicon-new-window"></i></button>
                  </div>
                  <div ng-if="transactionDetails.error" style="display: inline-block; width: 100%; margin-top: 15px;">
                    <h4>Internal Error<i ng-show="uiSettings.showTooltips" uib-tooltip="An internal error occurred that prevented the OpenHIM from sending the transaction" class="glyphicon glyphicon-question-sign tooltip-wide iconInHeader"></i></h4>
                    <div class="hljsFormat" hljs source="transactionDetails.error.message"></div>
                    <button style="margin-top: 10px;" class="btn btn-primary pull-right" ng-click="viewBodyDetails('Error', transactionDetails.error.stack);">View Error Details</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <!-- Routes -->
            <div ng-show="transactionDetails.routes.length > 0">
              <h3>Non-primary routes</h3>
              <div class="data-group no-more-tables">
                <div class="data-value">
                  <!-- Table with all the Routes logs -->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Route</th>
                        <th>URL</th>
                        <th>Status</th>
                        <th>Response Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-list" ng-repeat="route in transactionDetails.routes" ng-click="viewAddReqResDetails(route, channel, 'routes', $index)">
                        <td data-title="Route">{{ route.name }}</td>
                        <td data-title="URL">
                          <span class="label label-default" ng-if="routeDefs[route.name].type === 'http'">{{route.request.method}}</span>
                          <span class="label label-danger" ng-if="routeDefs[route.name].type !== 'http'">{{routeDefs[route.name].type | uppercase}}</span>
                          <span>{{ route.request.host }}</span><span ng-if="route.request.port">{{ ':' + route.request.port }}</span><span ng-if="routeDefs[route.name].type === 'http'">{{ route.request.path }}</span><span ng-if="route.request.querystring && routeDefs[route.name].type === 'http'">{{ '?' + route.request.querystring }}</span>
                        </td>
                        <td data-title="Status">{{ route.response.status }}</td>
                        <td data-title="Response Time">{{ route.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Orchestrations -->
            <div ng-show="transactionDetails.orchestrations.length > 0">
              <h3>Orchestrations</h3>
              <div class="data-group no-more-tables">
                <div class="data-value">
                  <!-- Table with all the orchestrations -->
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>URL</th>
                        <th>Status</th>
                        <th>Response Time</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="table-list" ng-repeat="orchestration in transactionDetails.orchestrations" ng-click="viewAddReqResDetails(orchestration, channel, 'orchestrations', $index)">
                        <td data-title="Name">{{ orchestration.name }}</td>
                        <td data-title="URL">
                          <span class="label label-default">{{orchestration.request.method}}</span>
                          <span>{{ orchestration.request.host }}</span><span ng-if="orchestration.request.port">{{ ':' + orchestration.request.port }}</span><span>{{ orchestration.request.path }}</span><span ng-if="orchestration.request.querystring">{{ '?' + orchestration.request.querystring }}</span>
                        </td>
                        <td data-title="Status">{{ orchestration.response.status }}</td>
                        <td data-title="Response Time">{{ orchestration.response.timestamp | date:'yyyy-MM-dd HH:mm:ss Z' }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- Properties -->
            <div ng-show="transactionDetails.properties">
              <h3>Properties</h3>
              <div class="data-group">
                <div class="data-value">
                  <div class="content-box-large default-labels-box" style="margin-right: 10px;" ng-repeat="(key, property) in transactionDetails.properties">
                    {{key}}: <strong>{{property}}</strong>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
