<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addUserLabel">
    <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;
    <span ng-show="update">Edit</span>
    <span ng-show="!update">Add</span>
     a user
  </h4>
</div>

<form name="form" novalidate>
  <div class="modal-body">

    <div class="form-group has-error-key">
      <span>*</span> Indicates a required field<br />
    </div>

    <fieldset>
      <div class="form-group" ng-class="{ 'has-error' : ngError.email }">
        <label><span>*</span> Email</label>
        <input class="form-control" type="text" ng-model="user.email" ng-disabled="update" />
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;" ng-class="{ 'has-error' : ngError.firstname }">
          <label><span>*</span> First Name</label>
          <input class="form-control" type="text" ng-model="user.firstname" />
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.surname }">
          <label><span>*</span> Surname</label>
          <input class="form-control" type="text" ng-model="user.surname" />
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
        </div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ngError.msisdn }">
        <label tooltip-html-unsafe="Accepted format: <br />27123456789 <br />( 5 - 15 digits )">MSISDN</label>
        <input class="form-control" type="text" ng-model="user.msisdn" />
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>

      <div class="form-group" ng-class="{ 'has-error' : ngError.groups }">
        <label><span>*</span> Allowed Roles</label>
        <taglist tag-data="user.groups"><input class="form-control" placeholder="Enter a role and press enter..." type="text" /></taglist>
        <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationRequiredMsg}}</div>
      </div>

      <div class="form-group-2columns">
        <div class="form-group" style="float: left;">
          <label>Password</label>
          <input class="form-control" type="password" ng-model="temp.password" ng-required='!update' />
        </div>
        <div class="form-group" style="float: right;" ng-class="{ 'has-error' : ngError.passwordConfirm }">
          <label>Confirm password</label>
          <input class="form-control" type="password" ng-model="temp.passwordConfirm" ng-required='!update' />
          <div class="has-error-msg"><i class="glyphicon glyphicon-warning-sign"></i>{{validationPasswordConfirmMsg}}</div>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">

    <!-- hasErrors Alerts -->
    <alert style="width: 50%; float: left; text-align: left; margin: 0; padding: 5px;" ng-repeat="alert in alerts.hasErrors" type="alert.type">
      <i class="glyphicon glyphicon-warning-sign"></i>{{alert.msg}}
    </alert>
    <!-- hasErrors Alerts -->

    <div>
      <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
      <button type="button" class="btn btn-primary" ng-click="submitFormUsers()">Save changes</button>
    </div>
  </div>
</form>
