<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addUserLabel">Add a user</h4>
</div>
<form name="form" novalidate>
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label>User name</label>
        <input class="form-control" type="text" ng-model="user.email" required/>
      </div>
      <div class="form-group">
        <label>First Name</label>
        <input class="form-control" type="text" ng-model="user.firstname" required/>
      </div>
      <div class="form-group">
        <label>Surname</label>
        <input class="form-control" type="text" ng-model="user.surname" required/>
      </div>
      <div class="form-group">
        <label>Allowed Roles</label>
        <taglist tag-data="user.groups"><input class="form-control" placeholder="Enter a role and press enter..."
                                               type="text" required/></taglist>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="text" ng-model="password" required/>
      </div>
      <div class="form-group">
        <label>Retype password</label>
        <input class="form-control" type="text" ng-model="passwordRetype" required/>
      </div>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="save(user, password)"
            ng-disabled="!isUserValid(user, password, passwordRetype)">Save changes
    </button>
  </div>
</form>
