<div class="modal-header">
  <button type="button" class="close" ng-click="cancel()" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="addUserLabel">Add a user</h4>
</div>
<form name="form" novalidate>
  <div class="modal-body">
    <fieldset>
      <div class="form-group">
        <label>User name</label>
        <input class="form-control" type="text" ng-model="user.name" required />
      </div>
      <div class="form-group">
        <label>URL Pattern</label>
        <input class="form-control" placeholder="/example/path" type="text" ng-model="user.urlPattern" required />
      </div>
      <div class="form-group">
        <label>Allowed roles and clients</label>
        <taglist tag-data="user.allow"><input class="form-control" placeholder="Enter a role and press enter..." type="text" required /></taglist>
      </div>
      <h3>Routes</h3>
      <div ng-show="user.routes.length > 0">
        <div class="alert alert-warning" ng-show="multiplePrimaries()"><strong>Warning!</strong> You cannot have multiple primary routes.</div>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Path</th>
              <th>Host</th>
              <th>Port</th>
              <th>Primary</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="route in user.routes">
              <td>{{ $index +1 }}</td>
              <td><a href="" ng-click="editRoute($index, route)">{{ route.name }}</a></td>
              <td>{{ route.path }}</td>
              <td>{{ route.host }}</td>
              <td>{{ route.port }}</td>
              <td><span ng-show="route.primary">&check;</span></td>
              <td>
                <button class="btn btn-warning btn-xs" ng-click="editRoute($index, route)"><i class="glyphicon glyphicon-pencil"></i></button> 
                <button class="btn btn-danger btn-xs" ng-click="removeRoute($index)"><i class="glyphicon glyphicon-remove"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4>Add a new route</h4>
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" ng-model="newRoute.name" />
      </div>
      <div class="form-group">
        <label>Path</label>
        <input class="form-control" type="text" ng-model="newRoute.path" />
      </div>
      <div class="form-group">
        <label>Host</label>
        <input class="form-control" type="text" ng-model="newRoute.host" />
      </div>
      <div class="form-group">
        <label>Port</label>
        <input class="form-control" type="text" ng-model="newRoute.port" />
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label tooltip="The primary route is the route from which the http response will be read and returned to the client.">
            <input type="checkbox" ng-model="newRoute.primary" /> Is this the primary route?
          </label>
        </div>
      </div>
      <button class="btn btn-sm btn-primary" ng-click="addRoute(newRoute)" ng-disabled="!(newRoute.name && newRoute.path && newRoute.host && newRoute.port)"><i class="glyphicon glyphicon-plus"></i> Route</button>
    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Close</button>
    <button type="button" class="btn btn-primary" ng-click="saveOrUpdate(user)" ng-disabled="form.$invalid || multiplePrimaries()">Save changes</button>
  </div>
</form>
