<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">Users</div>

          <div class="panel-options">
            <a href="#" data-rel="collapse"><i class="glyphicon glyphicon-refresh"></i></a>
            <a href="#" data-rel="reload"><i class="glyphicon glyphicon-cog"></i></a>
          </div>
        </div>
        <div class="panel-body">
          <div id="no-more-tables">
            <table class="table table-striped">
              <thead>
              <tr>
                <th></th>
                <th>#</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Surname</th>
                <th>Groups</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="user in users">
                <td></td>
                <td data-title="#{{ $index +1 }}"><span id="counter">{{ $index +1 }}</span></td>
                <td data-title="Email"><a href="" ng-click="editUser(user)">{{ user.email }}</a></td>
                <td data-title="First Name">{{ user.firstname }}</td>
                <td data-title="Surname">{{ user.surname }}</td>
                <td data-title="Group"><span ng-repeat="group in user.groups"> {{ group }}{{$last ? '' : ', '}} </span></td>
                <td>
                  <button class="btn btn-warning btn-xs" ng-click="editUser(user)"><i
                          class="glyphicon glyphicon-pencil"></i></button>
                  <button class="btn btn-danger btn-xs" ng-click="removeUser(user)"><i
                          class="glyphicon glyphicon-remove"></i></button>
                </td>
              </tr>
              </tbody>
            </table>
            </div>
          <button class="btn btn-primary" ng-click="addUser()"><i class="glyphicon glyphicon-plus"></i> User</button>
        </div>
      </div>
    </div>
  </div>
</div>