
<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-road"></i>&nbsp;&nbsp;Visualizer</h2>
            <p class="text-muted">
              The visualizer displays a live view of how transactions are being routed through the OpenHIM.
            </p>
          </div>
        </div>

        <!-- show loading gif when visualizer busy initializing -->
        <div class="loadingContainer" ng-show="loadingVisualizer">
          <img src="images/loading.gif" alt="Loading..." />
        </div>

        <!-- Server Alerts -->
        <alert ng-repeat="alert in alerts.server" type="alert.type">{{alert.msg}}</alert>
        <!-- Server Alerts -->

        <div class="panel-body" ng-show="loadingVisualizerError">
          There seems to be issues with you visualizer settings. please configure them in the '<a href="#/profile" title="Visualizer Settings">Visualizer Settings</a>' tab and try again.

          <div ng-repeat="errorMsg in loadingVisualizerErrorMsgs">
            <span style="font-weight: bold; font-size: 14px;">{{errorMsg.section}}: </span>
            <span>{{errorMsg.msg}}</span>
          </div>
        </div>

        <div class="panel-body" ng-show="isUsingOldVisualizerSettings">
          <strong>NEW</strong> The visualizer has been upgraded with new features! However this means you'll have to migrate your '<a href="#/profile" title="Visualizer Settings">Visualizer Settings</a>' in order to continue.
        </div>

        <div class="panel-body" ng-show="!loadingVisualizer && !loadingVisualizerError && !isUsingOldVisualizerSettings">
          <div class="btn-group">
            <button class="btn btn-default" ng-click="slowDown();" title="Animate Slower"><i class="glyphicon glyphicon-backward"></i></button>
            <button class="btn btn-default" ng-click="play();" ng-show="showPlay" title="Play the Visualizer"><i class="glyphicon glyphicon-play"></i></button>
            <button class="btn btn-default" ng-click="pause();" ng-show="showPause" title="Pause the Visualizer"><i class="glyphicon glyphicon-pause"></i></button>
            <button class="btn btn-default" ng-click="speedUp();" title="Animate Faster"><i class="glyphicon glyphicon-forward"></i></button>
            <button class="btn btn-default" ng-click="goFullScreenViaWatcher()"><i class="glyphicon glyphicon-fullscreen"></i></button>
          </div>
          <div class="visualizerSpeed">{{speedText}}</div>


          <div visualizer fullscreen="isFullScreen" only-watched-property vis-settings="visualizerSettings" vis-data="visualizerData" vis-speed="visualizerSpeed"></div>
        </div>
      </div>

    </div>
  </div>
</div>
