
<div class="page-content">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div id="visualizer"/>
        </div>
        <div class="row">
          <div class="span2">
            <div id="controls" class="btn-toolbar">
              <div class="btn-group">
                <i class="glyphicon glyphicon-backward" ng-click="slowDown();"/>
                <i class="glyphicon glyphicon-play" ng-click="play();" ng-show="showPlay"/>
                <i class="glyphicon glyphicon-pause" ng-click="pause();" ng-show="showPause"/>
                <i class="glyphicon glyphicon-forward" ng-click="speedUp();"/>
              </div>
            </div>
          </div>
          <div>{{speedText}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
