<div class="page-content container-fluid">
  <div class="row">
    <!-- include the sidebar -->
    <div ng-include="'views/sidebar.html'"></div>
    <div class="col-md-10">

      <div class="content-box-large">
        <div class="panel-heading">
          <div class="panel-title">
            <h2><i class="glyphicon glyphicon-road"></i>&nbsp;&nbsp;Visualizer</h2>
            <p class="text-muted">
              The visualizer displays a live view of how transactions are being routed through the OpenHIM. Multiple visualizers can be created and these are shared among admin users. Pick a visualizer on the left to start viewing or create a new one.
            </p>
          </div>
        </div>

        <!-- Top Alerts -->
        <div class="alert alert-{{alert.type}} alert-dismissible" role="alert" ng-repeat="alert in alerts.top">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{alert.msg}}
        </div>
        <!-- Top Alerts -->

        <div class="panel-body">
          <div class="row">
            <div class="col-md-2" role="navigation">
              <h4>Choose a visualizer to view</h4>
              <span ng-if="visualizers.length === 0">There are no configured visualizers. Add one below.</span>
              <ul class="nav nav-pills nav-stacked">
                <li role="presentation" ng-repeat="vis in visualizers" ng-class="{ active: selectedVis === vis }">
                  <a ng-click="selectVis(vis)" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
                    <span>{{ vis.name }}</span>
                    <div class="pull-right" ng-if="selectedVis.name === vis.name || hover">
                      <div class="btn-group" role="group">
                        <button uib-tooltip="Duplicate" class="btn btn-info btn-xs" ng-click="editVisualiser(vis); $event.stopPropagation();" tooltip-popup-delay="500"><i class="glyphicon glyphicon-file"></i></button>
                        <button uib-tooltip="Edit" class="btn btn-warning btn-xs" ng-click="duplicateVisualiser(vis); $event.stopPropagation();" tooltip-popup-delay="500"><i class="glyphicon glyphicon-pencil"></i></button>
                        <button uib-tooltip="Delete" class="btn btn-danger btn-xs" ng-click="confirmRemoveVis(vis, $index); $event.stopPropagation();" tooltip-popup-delay="500"><i class="glyphicon glyphicon-remove"></i></button>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
              <button class="btn btn-primary lg-skip" ng-click="addVisualiser()" ng-show="!alerts.server"><i class="glyphicon glyphicon-plus"></i> Visualizer</button>
            </div>
            <div class="col-md-9">
              <!-- show loading gif when visualizer busy initializing -->
              <div class="loadingContainer" ng-show="loadingVisualizer">
                <span id="loading-spinner" alt="Loading..."></span>
              </div>

              <!-- Server Alerts -->
              <div uib-alert ng-repeat="alert in alerts.server" ng-class="'alert-' + (alert.type || 'warning')">{{alert.msg}}</div>
              <!-- Server Alerts -->

              <div ng-show="loadingVisualizerError">
                There seems to be issues with you visualizer settings. please configure them in the '<a href="#!/profile" title="Visualizer Settings">Visualizer Settings</a>' tab and try again.

                <div ng-repeat="errorMsg in loadingVisualizerErrorMsgs">
                  <span style="font-weight: bold; font-size: 14px;">{{errorMsg.section}}: </span>
                  <span>{{errorMsg.msg}}</span>
                </div>
              </div>

              <div ng-show="isUsingOldVisualizerSettings">
                <strong>NEW</strong> The visualizer has been upgraded with new features! However this means you'll have to migrate your '<a href="#!/profile" title="Visualizer Settings">Visualizer Settings</a>' in order to continue.
              </div>

              <div ng-show="!loadingVisualizer && !loadingVisualizerError && !isUsingOldVisualizerSettings && visualizers.length !== 0">
                <center>
                  <div class="btn-group">
                    <button class="btn btn-default" ng-click="slowDown();" title="Animate Slower"><i class="glyphicon glyphicon-backward"></i></button>
                    <button class="btn btn-default" ng-click="play();" ng-show="showPlay" title="Play the Visualizer"><i class="glyphicon glyphicon-play"></i></button>
                    <button class="btn btn-default" ng-click="pause();" ng-show="showPause" title="Pause the Visualizer"><i class="glyphicon glyphicon-pause"></i></button>
                    <button class="btn btn-default" ng-click="speedUp();" title="Animate Faster"><i class="glyphicon glyphicon-forward"></i></button>
                    <button class="btn btn-default" ng-click="goFullScreenViaWatcher()"><i class="glyphicon glyphicon-fullscreen"></i></button>
                  </div>

                   <div class="visualizerSpeed">{{speedText}}</div>

                  <div visualizer fullscreen="isFullScreen" only-watched-property vis-settings="visualizerSettings" vis-data="visualizerData" vis-speed="visualizerSpeed"></div>
                </center>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
